@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-size: clamp(16px, 1.302vw, 20px);
	font-family: serif, 'Noto Serif JP', sans-serif;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
	height: -webkit-fill-available;
}

body {
	min-height: -webkit-fill-available;
	background-image: url(./img/Background2.jpg);
}

body::before {
	content: '';
	background-color: rgba(0, 0, 0, .2);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.sideLeft,
.sideRight {
	display: none;
}

@media screen and (min-width:1536px) {

	.sideLeft {
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		width: 30%;
		height: 100%;
	}

	.sideRight {
		position: fixed;
		display: block;
		top: 0;
		right: 0;
		width: 30%;
		height: 100%;
	}

	canvas {
		width: 100%;
		height: 100%;
	}
}

main {
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: 1536px;
	height: auto;
	margin: 0 auto;
}

main::before {
	content: '';
	background-image: url(./img/Background2.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	position: absolute;
	max-width: 1536px;
	margin: 0 auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

section {
	position: relative;
	width: 100%;
	max-width: 1536px;
	margin: 0 auto;
}

*::-webkit-scrollbar {
	background: rgb(242, 188, 188);
	width: 20px;
}

*::-webkit-scrollbar-thumb {
	background: rgb(255, 0, 0);
	height: 30px;
}

.top_mainVisual {
	height: 100vh;
	max-height: 1440px;
	min-height: 768px;
}

#top .title {
	position: absolute;
	display: flex;
	width: 100%;
	top: clamp(307px, 46vh, 700px);
	padding-left: clamp(95px, 12.37vw, 150px);
	background-color: rgba(255, 0, 0, 0);
}

#top h1 {
	position: relative;
	z-index: 1;
	width: fit-content;
	padding: 5px 0.3em 0;
	line-height: 55px;
	font-size: clamp(42px, 5.469vw, 60px);
	color: rgba(255, 255, 255, 0);
	background-color: rgba(255, 0, 0, 0);
}

.tr_big,
.tr_sml {
	width: 0;
	height: 0;
	border-style: solid;
	border-color: rgb(255, 0, 0) transparent transparent transparent;
	line-height: 0px;
}

#top .tr_big {
	border-width: 60px 60px 0 0;
	opacity: 0;
}

#top .tr_sml {
	border-width: 30px 30px 0 0;
	opacity: 0;
}

.right .tr_sml,
.left .tr_sml {
	position: absolute;
	top: 30px;
	left: 30px;
}

.right .tr_sml+div,
.left .tr_sml+div {
	top: 0;
	left: 60px;
}

.right .tr_sml+div+div,
.left .tr_sml+div+div {
	top: 30px;
	left: 60px;
}

.right .tr_sml+div+div+div,
.left .tr_sml+div+div+div {
	top: 0;
	left: 90px;
}

#top .text1,
#top .text2 {
	opacity: 0;
}

#top .text1 span,
#top .text2 span {
	color: red;
	font-weight: bold;
}

#top .text1,
#top .text1 span {
	text-align: end;
}

#top .text1 span,
#top .text2 span {
	font-size: clamp(32px, 4.167vw, 40px);
}

#top .text1 {
	position: absolute;
	top: clamp(115px, 14vh, 300px);
	right: 10vw;
	padding-right: 8vw;
	font-size: clamp(24px, 3.125vw, 32px);
	text-shadow: 8px 5px 0px rgb(211, 211, 211);
}

#top .text2 {
	position: absolute;
	top: clamp(530px, 75vh, 1100px);
	padding-left: 8vw;
	font-size: clamp(20px, 2.604vw, 24px);
}

#se1 .title,
#se2 .title,
#se3 .title,
#se4 .title,
#se5 .title,
#se6 .title {
	position: sticky;
	display: flex;
	z-index: 2;
	width: 100%;
	top: 0px;
	padding-left: clamp(95px, 12.37vw, 150px);
	background-color: rgba(255, 0, 0, 0.2);
}

section h2 {
	position: relative;
	z-index: 1;
	width: fit-content;
	padding: 5px 0.3em 0;
	line-height: 55px;
	font-size: clamp(42px, 5.469vw, 60px);
	color: rgba(255, 255, 255, 1);
	background-color: rgba(255, 0, 0, 1);
}

#se2 h2 {
	font-size: clamp(28px, 3.646vw, 60px);
}

section .right {
	position: relative;
	top: 0;
	left: 0;
}

section .left {
	position: relative;
	top: 0;
	left: 0;
	transform: rotate(180deg);
}


section .tr_big {
	border-width: 60px 60px 0 0;
	opacity: 1;
}

section .tr_sml {
	border-width: 30px 30px 0 0;
	opacity: 1;
}

section .seBody {
	position: relative;
	width: 100%;
	height: 720px;
	margin: 150px 0;
	padding: 3vw 5vw;
	overflow: hidden;
}

#se3 .seBody {
	height: 1000px;
}

#se5 .seBody {
	height: auto;
}

#se1 .imgBox {
	position: relative;
	top: 0;
	left: 0;
	width: clamp(300px, 39.063vw, 500px);
	height: clamp(300px, 39.063vw, 500px);
	background-image: url(./img/ProfileIMG.png);
	background-repeat: no-repeat;
	background-size: cover;
	filter: drop-shadow(-20px 50px 0px red);
}

section .seBody .content {
	position: relative;
	z-index: 0;
	padding: 40px 50px;
	background: rgba(250, 202, 202, 0.7);
	border-width: 0.065vw 0.651vw;
	border-style: solid;
	border-color: #FF0000;
	box-shadow: 2px 1px 4px #ff0000;
}

section .seBody .content h3 {
	position: absolute;
	top: -27px;
	left: 20px;
	display: flex;
	align-items: center;
	font-size: clamp(28px, 2.5vw, 32px);
	font-weight: bold;
	color: #fff;
	text-shadow: 0px 0px 5px #ff0000;
}

#se1 .content {
	position: absolute;
	margin-top: 3vw;
	top: 20px;
	left: clamp(0px, 14.323vw, 220px);
	padding: 0;
	background: unset;
	border: unset;
	box-shadow: unset;
}

#se1 ol {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#se1 ol li {
	position: relative;
	z-index: 0;
	height: max(4.427vw, 70px);
	color: red;
}

@media screen and (max-width:1280px) {
	#se1 ol li {
		height: max(5.469vw, 50px);
	}
}

#se1 span {
	padding-right: 1em;
	color: #fff;
	font-weight: bold;
	text-shadow: 0px 0px 4px #ff0000;
	word-break: keep-all;
}

#se1 ol li,
#se1 ol li span {
	font-size: clamp(16px, 2.083vw, 24px);
}

#se1 ol li:nth-of-type(1) {
	padding-left: 490px;
	white-space: nowrap;
}

#se1 ol li:nth-of-type(2) {
	padding-left: 420px;
	white-space: nowrap;
}

#se1 ol li:nth-of-type(3) {
	padding-left: 350px;
	white-space: nowrap;
}

#se1 ol li:nth-of-type(4) {
	padding-left: 280px;
	white-space: nowrap;
}

#se1 ol li:nth-of-type(5) {
	padding-left: 210px;
	white-space: nowrap;
}

#se1 ol li:nth-of-type(6) {
	padding-left: 140px;
	white-space: nowrap;
}

#se1 ol li:nth-of-type(7) {
	width: 95%;
	padding-left: 0;
	color: #000;
}

#se1 ol li:nth-of-type(7) span {
	padding: 0;
	color: #000;
	font-weight: unset;
	text-shadow: none;
}

#se6 .seBody .content {
	margin: 0 auto;
}

#se6 .seBody {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#se6 .seBody p {
	margin-bottom: max(0.5vw, 10px);
}

#se6 .seBody span {
	font-size: clamp(16px, 2.083vw, 32px);
}

#se6 .seBody .textBox a {
	font-size: clamp(16px, 2.083vw, 32px);
	background-color: red;
	color: #fff;
	border-radius: clamp(5px, 0.651vw, 15px);
	padding: max(0.2vw, 3px) max(1vw, 16px);
	animation: opacityHover 1.5s ease-in infinite;
}

@keyframes opacityHover {

	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}

.hmbFadeIn-top {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 0;
	height: 100vh;
	background-color: rgba(0, 0, 0, .7);
	opacity: 0;
}

.hmbFadeIn-main {
	position: fixed;
	z-index: 1001;
	top: 60px;
	left: 0;
	width: 0;
	height: calc(100vh - 60px);
	background-color: rgba(0, 0, 0, .7);
	opacity: 0;
}

.hmbFadeIn {
	animation: hmbFadeInAnima 0.1s linear forwards;
}

.hmbFadeOut {
	animation: hmbFadeOutAnima 0.1s linear forwards;
}

@keyframes hmbFadeInAnima {
	from {
		width: 100vw;
		opacity: 0;
	}

	to {
		width: 100vw;
		opacity: 1;
	}
}

@keyframes hmbFadeOutAnima {
	from {
		width: 100vw;
		opacity: 1;
	}

	to {
		width: 100vw;
		opacity: 0;
	}
}

.hamburgerMenu {
	position: fixed;
	z-index: 10000;
	top: 10vh;
	right: 0;
}

#hamb_btn-check {
	display: none;
}

.deltaLeft,
.deltaRight,
.deltaHeightTop,
.deltaHeightBottom,
.menuBox {
	position: absolute;
	right: 0;
	top: 0;
	width: 0vw;
	height: 0vw;
	transition: all 0.5s;
	pointer-events: none;
	cursor: unset;
}

.deltaLeft {
	border-bottom: max(3vw, 50px) solid transparent;
	border-left: max(3vw, 50px) solid rgba(255, 0, 0, 1);
}

.deltaRight {
	border-top: max(3vw, 50px) solid transparent;
	border-right: max(3vw, 50px) solid rgba(255, 0, 0, 1);
}

#hamb_btn-check:checked~.hamb_btn .deltaBox .deltaLeft {
	width: 70vw;
	background-color: rgb(255, 214, 214);
}

#hamb_btn-check:checked~.hamb_btn .deltaBox .deltaLeft {
	width: calc(100vw - 20px);
	background-color: rgb(255, 214, 214);
}

.menuBox .deltaLeft {
	border-bottom: 3vw solid transparent;
	border-left: 3vw solid rgba(255, 0, 0, 1);
}

.menuBox .deltaRight {
	border-top: 3vw solid transparent;
	border-right: 3vw solid rgba(255, 0, 0, 1);
}

.deltaHeightTop {
	top: unset;
	bottom: max(3vw, 49px);
	left: calc(-100vw + 20px);
	transform: translateX(max(6vw, 100px));
	width: 0vw;
	height: max(3vw, 50px);
	background-color: rgb(255, 214, 214);
}

.deltaHeightBottom {
	top: max(3vw, 49px);
	transform: translateX(-50px);
	width: 0vw;
	height: max(3vw, 50px);
	background-color: rgb(255, 214, 214);
}

.deltaHeightBottom .tr_sml,
.deltaHeightTop .tr_sml {
	border-width: max(1.5vw, 25px) max(1.5vw, 25px) 0 0;
}

.deltaHeightTop .left {
	transform: rotateZ(180deg);
}

.deltaHeightBottom .right {
	position: absolute;
	top: 0;
	right: -50px;
	height: 50px;
	width: 50px;
	overflow: hidden;
}

.deltaHeightTop .left {
	position: absolute;
	top: 0;
	left: clamp(-78px, -3.255vw, -50px);
	height: max(3vw, 50px);
	width: max(3vw, 50px);
	overflow: hidden;
}

.deltaHeightBottom .right .tr_sml,
.deltaHeightTop .left .tr_sml {
	position: absolute;
	top: -7vw;
	left: unset;
	right: 0px;
}

.deltaHeightBottom .right .tr_sml+div,
.deltaHeightTop .left .tr_sml+div,
.deltaHeightBottom .right .tr_sml+div+div+div,
.deltaHeightTop .left .tr_sml+div+div+div {
	top: -7vw;
	left: unset;
	right: max(1.5vw, 25px);
}

.deltaHeightBottom .right .tr_sml+div+div,
.deltaHeightTop .left .tr_sml+div+div {
	top: -7vw;
	left: unset;
	right: max(1.5vw, 25px);
}

.deltaHeightBottom .right .tr_sml+div+div+div,
.deltaHeightTop .left .tr_sml+div+div+div {
	transform: rotateZ(180deg);
	border-color: rgb(255, 214, 214) transparent transparent transparent;
}

#hamb_btn-check:checked~.hamb_btn .deltaHeightBottom .right .tr_sml,
#hamb_btn-check:checked~.hamb_btn .deltaHeightTop .left .tr_sml,
#hamb_btn-check:checked~.hamb_btn .deltaHeightBottom .right .tr_sml+div,
#hamb_btn-check:checked~.hamb_btn .deltaHeightTop .left .tr_sml+div,
#hamb_btn-check:checked~.hamb_btn .deltaHeightBottom .right .tr_sml+div+div+div,
#hamb_btn-check:checked~.hamb_btn .deltaHeightTop .left .tr_sml+div+div+div {
	animation: rightTri_1 0.3s 0.6s ease-in-out forwards;
}

@keyframes rightTri_1 {
	from {}

	to {
		top: 0px;
	}
}

#hamb_btn-check:checked~.hamb_btn .deltaHeightBottom .right .tr_sml+div+div,
#hamb_btn-check:checked~.hamb_btn .deltaHeightTop .left .tr_sml+div+div {
	animation: rightTri_2 0.3s 0.6s ease-in-out forwards;
}

@keyframes rightTri_2 {
	from {}

	to {
		top: max(1.5vw, 25px);
	}
}

#hamb_btn-check:checked~.hamb_btn .deltaHeightTop,
#hamb_btn-check:checked~.hamb_btn .deltaHeightBottom {
	background-color: rgb(255, 214, 214);
	animation: hambMenuHeight 0.3s 1s ease-in-out forwards;
}

@keyframes hambMenuHeight {
	from {}

	to {
		width: calc(100vw - 20px);
	}
}

.hamb_btn {
	position: fixed;
	display: flex;
	top: calc(57px + max(3vw, 50px));
	right: 0;
	height: max(3vw, 50px);
	width: max(3vw, 50px);
	cursor: pointer;
}

.lineBox .line1,
.lineBox .line2,
.lineBox .line3 {
	content: '';
	position: absolute;
	display: block;
	height: max(0.26vw, 3px);
	width: clamp(39px, 2.669vw, 63px);
	background-color: #ffffff;
	transition: all 1s;
}

.lineBox {
	position: absolute;
	display: flex;
	top: 46%;
	left: 10%;
}

.lineBox .line1 {
	transform: translateY(min(-1vw, -15px));
}

.lineBox .line3 {
	transform: translateY(max(1vw, 15px));
}

@media screen and (max-width: 768px) {

	.lineBox {
		top: 23px;
		left: 6px;
	}

	.lineBox .line1 {
		transform: translateY(-13px);
	}

	.lineBox .line3 {
		transform: translateY(13px);
	}
}

#hamb_btn-check:checked~.hamb_btn .lineBox .line1 {
	transform: rotate(45deg) translate(-0.3vw, -0.3vw);
}

#hamb_btn-check:checked~.hamb_btn .lineBox .line2 {
	transform: rotate(-45deg) translate(0.3vw, -0.3vw);
}

#hamb_btn-check:checked~.hamb_btn .lineBox .line3 {
	transform: translate(0.1vw, clamp(14px, 0.911vw, 17px));
	width: clamp(39px, 2.669vw, 63px);
}

@media screen and (max-width: 900px) {
	#hamb_btn-check:checked~.hamb_btn .lineBox .line3 {
		opacity: 0;
	}
}


.close {
	display: none;
}

@media screen and (min-width: 1250px) {
	.close {
		display: block;
		transform: translate(clamp(5px, 0.195vw, 7px), clamp(9px, 0.716vw, 14px));
		font-size: clamp(15px, 1.107vw, 24px);
		color: rgba(255, 255, 255, 0);
		transition: all 1s;
	}

	#hamb_btn-check:checked~.hamb_btn .lineBox .close {
		color: rgba(255, 255, 255, 1);
	}
}

.menuBox {
	position: absolute;
	display: flex;
	top: -2vw;
	left: max(-74vw, -2015px);
	width: 63vw;
	height: clamp(80px, 7vw, 180px);
	color: rgba(255, 255, 255, 1);
	opacity: 0;
	transition: all 1s;
}

#hamb_btn-check:checked~.hamb_btn .menuBox {
	animation: menuCommandText 0.3s 0.9s ease-in-out forwards;
}

@keyframes menuCommandText {
	from {}

	to {
		opacity: 1;
	}
}

.menuBox .mb_1,
.menuBox .mb_2,
.menuBox .mb_3,
.menuBox .mb_4,
.menuBox .mb_5,
.menuBox .mb_6 {
	position: absolute;
	width: 3vw;
	height: 3vw;
	background-color: rgba(255, 161, 161, 1);
	overflow: hidden;
	transition: all 1s;
}

.menuBox .mb_text a {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	font-size: max(16px, 1.5vw);
	color: rgba(255, 255, 255, 0);
}

.menuBox .mb_2 br {
	display: none;
}

#hamb_btn-check:checked~.hamb_btn .menuBox .mb_1 {
	animation: mb_1delta 0.3s 1.2s ease-in-out forwards;
}

@keyframes mb_1delta {
	from {}

	to {
		width: 15.5vw;
	}
}

.menuBox .mb_2 {
	left: 18.3vw;
}

#hamb_btn-check:checked~.hamb_btn .menuBox .mb_2 {
	animation: mb_2delta 0.3s 1.2s ease-in-out forwards;
}

@keyframes mb_2delta {
	from {}

	to {
		width: 30vw;
	}
}

.menuBox .mb_3 {
	left: 51vw;
}

#hamb_btn-check:checked~.hamb_btn .menuBox .mb_3 {
	animation: mb_3delta 0.3s 1.2s ease-in-out forwards;
}

@keyframes mb_3delta {
	from {}

	to {
		width: 12vw;
	}
}

.menuBox .mb_4 {
	bottom: 0;
	left: 0;
}

#hamb_btn-check:checked~.hamb_btn .menuBox .mb_4 {
	animation: mb_4delta 0.3s 1.2s ease-in-out forwards;
}

@keyframes mb_4delta {
	from {}

	to {
		width: 14vw;
	}
}

.menuBox .mb_5 {
	bottom: 0;
	left: 23vw;
}

#hamb_btn-check:checked~.hamb_btn .menuBox .mb_5 {
	animation: mb_5delta 0.3s 1.2s ease-in-out forwards;
}

@keyframes mb_5delta {
	from {}

	to {
		width: 16vw;
	}
}

.menuBox .mb_6 {
	bottom: 0;
	left: 47vw;
}

#hamb_btn-check:checked~.hamb_btn .menuBox .mb_6 {
	animation: mb_6delta 0.3s 1.2s ease-in-out forwards;
}

@keyframes mb_6delta {
	from {}

	to {
		width: 16vw;
	}
}

.menuBox .deltaLeft {
	position: absolute;
	top: 0;
	left: 0;
}

.menuBox .deltaRight {
	position: absolute;
	top: 0px;
	right: 0;
}

#hamb_btn-check:checked~.hamb_btn .menuBox .mb_text a {
	pointer-events: auto;
	animation: mb_textAnima 0.3s 1.5s ease-in-out forwards;
}

@keyframes mb_textAnima {
	from {}

	to {
		color: rgba(255, 255, 255, 1);
	}
}

.menuBox .mb_text {
	height: 3vw;
}

.menuBox .mb_1:before,
.menuBox .mb_1:after,
.menuBox .mb_1 a:before,
.menuBox .mb_1 a:after,
.menuBox .mb_2:before,
.menuBox .mb_2:after,
.menuBox .mb_2 a:before,
.menuBox .mb_2 a:after,
.menuBox .mb_3:before,
.menuBox .mb_3:after,
.menuBox .mb_3 a:before,
.menuBox .mb_3 a:after,
.menuBox .mb_4:before,
.menuBox .mb_4:after,
.menuBox .mb_4 a:before,
.menuBox .mb_4 a:after,
.menuBox .mb_5:before,
.menuBox .mb_5:after,
.menuBox .mb_5 a:before,
.menuBox .mb_5 a:after,
.menuBox .mb_6:before,
.menuBox .mb_6:after,
.menuBox .mb_6 a:before,
.menuBox .mb_6 a:after {
	content: '';
	position: absolute;
	z-index: 10001;
	background: rgba(255, 255, 255, 1);
}

.menuBox .mb_1:before,
.menuBox .mb_2:before,
.menuBox .mb_3:before,
.menuBox .mb_4:before,
.menuBox .mb_5:before,
.menuBox .mb_6:before {
	bottom: 0;
	height: 3px;
}

.menuBox .mb_1:before {
	left: -15.5vw;
	width: 15.5vw;
}

.menuBox .mb_2:before {
	left: -30vw;
	width: 30vw;
}

.menuBox .mb_3:before {
	left: -12vw;
	width: 12vw;
}

.menuBox .mb_4:before {
	left: -14vw;
	width: 14vw;
}

.menuBox .mb_5:before {
	left: -16vw;
	width: 16vw;
}

.menuBox .mb_6:before {
	left: -16vw;
	width: 16vw;
}

.menuBox .mb_1:after,
.menuBox .mb_2:after,
.menuBox .mb_3:after,
.menuBox .mb_4:after,
.menuBox .mb_5:after,
.menuBox .mb_6:after {
	right: 0;
	width: 3px;
	bottom: -3vw;
	height: 3vw;
}

.menuBox .mb_1 a:before,
.menuBox .mb_2 a:before,
.menuBox .mb_3 a:before,
.menuBox .mb_4 a:before,
.menuBox .mb_5 a:before,
.menuBox .mb_6 a:before {
	top: 0;
	height: 3px;
}

.menuBox .mb_1 a:before {
	right: -15.5vw;
	width: 15.5vw;
}

.menuBox .mb_2 a:before {
	right: -30vw;
	width: 30vw;
}

.menuBox .mb_3 a:before {
	right: -12vw;
	width: 12vw;
}

.menuBox .mb_4 a:before {
	right: -14vw;
	width: 14vw;
}

.menuBox .mb_5 a:before {
	right: -16vw;
	width: 16vw;
}

.menuBox .mb_6 a:before {
	right: -16vw;
	width: 16vw;
}

.menuBox .mb_1 a:after,
.menuBox .mb_2 a:after,
.menuBox .mb_3 a:after,
.menuBox .mb_4 a:after,
.menuBox .mb_5 a:after,
.menuBox .mb_6 a:after {
	top: -3vw;
	left: 0;
	width: 3px;
	height: 3vw;
}

.menuBox .mb_1:hover:before,
.menuBox .mb_3:hover:before,
.menuBox .mb_4:hover:before,
.menuBox .mb_5:hover:before,
.menuBox .mb_6:hover:before {
	animation: leftAnim 1.5s linear 0s infinite;
}

.menuBox .mb_2:hover:before {
	animation: leftAnim_L 1.5s linear 0s infinite;
}

.menuBox .mb_1:hover:after,
.menuBox .mb_2:hover:after,
.menuBox .mb_3:hover:after,
.menuBox .mb_4:hover:after,
.menuBox .mb_5:hover:after,
.menuBox .mb_6:hover:after {
	animation: bottomAnim 1.5s linear .75s infinite;
}

.menuBox .mb_1 a:hover:before,
.menuBox .mb_3 a:hover:before,
.menuBox .mb_4 a:hover:before,
.menuBox .mb_5 a:hover:before,
.menuBox .mb_6 a:hover:before {
	animation: rightAnim 1.5s linear 0s infinite;
}

.menuBox .mb_2 a:hover:before {
	animation: rightAnim_L 1.5s linear 0s infinite;
}

.menuBox .mb_1 a:hover:after,
.menuBox .mb_2 a:hover:after,
.menuBox .mb_3 a:hover:after,
.menuBox .mb_4 a:hover:after,
.menuBox .mb_5 a:hover:after,
.menuBox .mb_6 a:hover:after {
	animation: topAnim 1.5s linear .75s infinite;
}

@keyframes topAnim {
	0% {
		top: -3vw;
	}

	100% {
		top: 3vw;
	}
}

@keyframes topAnim_L {
	0% {
		top: -6vw;
	}

	100% {
		top: 6vw;
	}
}

@keyframes bottomAnim {
	0% {
		bottom: -3vw;
	}

	100% {
		bottom: 3vw;
	}
}

@keyframes bottomAnim_L {
	0% {
		bottom: -6vw;
	}

	100% {
		bottom: 6vw;
	}
}

@keyframes rightAnim {
	0% {
		right: -15.5vw;
	}

	100% {
		right: 15.5vw;
	}
}

@keyframes leftAnim {
	0% {
		left: -15.5vw;
	}

	100% {
		left: 15.5vw;
	}
}

@keyframes rightAnim_L {
	0% {
		right: -30vw;
	}

	100% {
		right: 30vw;
	}
}

@keyframes leftAnim_L {
	0% {
		left: -30vw;
	}

	100% {
		left: 30vw;
	}
}

@media screen and (max-width:767.5px) {

	body::before,
	main::before,
	.sideLeft,
	.sideRight {
		display: none;
	}

	.hamburgerMenu,
	.hamb_btn {
		top: 0;
	}

	.deltaHeightTop,
	.deltaHeightBottom {
		display: none;
	}

	#hamb_btn-check:checked~main * a {
		pointer-events: none;
	}

	#hamb_btn-check:checked~.hamb_btn .deltaBox .deltaRight {
		border-right: max(3vw, 50px) solid transparent;
	}

	#hamb_btn-check:checked~.hamb_btn .deltaBox .deltaLeft {
		border-top: max(3vw, 50px) solid rgba(255, 0, 0, 1);
		border-left: 20px solid rgba(255, 0, 0, 1);
		border-bottom: 0px solid rgba(255, 0, 0, 1);
	}

	#hamb_btn-check:checked~.hamb_btn .deltaBox .deltaLeft {
		width: 220px;
	}

	#hamb_btn-check:checked~.hamb_btn .deltaBox .deltaLeft {
		animation: heightFullAnima 0.5s 0.5s linear forwards;
	}

	@keyframes heightFullAnima {
		0% {}

		50% {
			height: 450px;
		}

		89% {
			border-bottom: 10px solid rgba(255, 0, 0, 1);
		}

		90% {
			border-bottom: 10px solid rgba(255, 0, 0, 1);
		}

		100% {
			height: 450px;
			border-bottom: 10px solid rgba(255, 0, 0, 1);
		}
	}

	.menuBox {
		position: relative;
		display: block;
		width: max(33vw, 200px);
		top: 73px;
		left: -119px;
	}

	.menuBox .mb_text a {
		font-size: 18px;
	}

	.menuBox .mb_1,
	.menuBox .mb_2,
	.menuBox .mb_3,
	.menuBox .mb_4,
	.menuBox .mb_5,
	.menuBox .mb_6 {
		position: absolute;
		width: 3vw;
		height: max(3vw, 40px);
		background-color: rgba(255, 161, 161, 1);
		overflow: hidden;
		transition: all 1s;
	}

	.menuBox .mb_2,
	.menuBox .mb_3,
	.menuBox .mb_5,
	.menuBox .mb_6 {
		left: 0;
		bottom: unset;
	}

	.menuBox .deltaRight {
		top: unset;
		bottom: 0;
	}

	.menuBox .mb_1:before,
	.menuBox .mb_2:before,
	.menuBox .mb_3:before,
	.menuBox .mb_4:before,
	.menuBox .mb_5:before,
	.menuBox .mb_6:before {
		left: -140px;
		width: 140px;
	}

	.menuBox .mb_1:hover:before,
	.menuBox .mb_2:hover:before,
	.menuBox .mb_3:hover:before,
	.menuBox .mb_4:hover:before,
	.menuBox .mb_5:hover:before,
	.menuBox .mb_6:hover:before {
		animation: left768Anim 1.5s linear 0s infinite;
	}

	.menuBox .mb_1 a:before,
	.menuBox .mb_2 a:before,
	.menuBox .mb_3 a:before,
	.menuBox .mb_4 a:before,
	.menuBox .mb_5 a:before,
	.menuBox .mb_6 a:before {
		right: -140px;
		width: 140px;
	}

	.menuBox .mb_1 a:hover:before,
	.menuBox .mb_2 a:hover:before,
	.menuBox .mb_3 a:hover:before,
	.menuBox .mb_4 a:hover:before,
	.menuBox .mb_5 a:hover:before,
	.menuBox .mb_6 a:hover:before {
		animation: right768Anim 1.5s linear 0s infinite;
	}

	.menuBox .mb_1:after,
	.menuBox .mb_2:after,
	.menuBox .mb_3:after,
	.menuBox .mb_4:after,
	.menuBox .mb_5:after,
	.menuBox .mb_6:after {
		bottom: -40px;
		height: 40px;
	}

	.menuBox .mb_1:hover:after,
	.menuBox .mb_2:hover:after,
	.menuBox .mb_3:hover:after,
	.menuBox .mb_4:hover:after,
	.menuBox .mb_5:hover:after,
	.menuBox .mb_6:hover:after {
		animation: bottom768Anim 1.5s linear .75s infinite;
	}

	.menuBox .mb_1 a:after,
	.menuBox .mb_2 a:after,
	.menuBox .mb_3 a:after,
	.menuBox .mb_4 a:after,
	.menuBox .mb_5 a:after,
	.menuBox .mb_6 a:after {
		top: -40px;
		height: 40px;
	}

	.menuBox .mb_1 a:hover:after,
	.menuBox .mb_2 a:hover:after,
	.menuBox .mb_3 a:hover:after,
	.menuBox .mb_4 a:hover:after,
	.menuBox .mb_5 a:hover:after,
	.menuBox .mb_6 a:hover:after {
		animation: top768Anim 1.5s linear .75s infinite;
	}

	@keyframes left768Anim {
		0% {
			left: -140px;
		}

		100% {
			left: 140px;
		}
	}

	@keyframes right768Anim {
		0% {
			right: -140px;
		}

		100% {
			right: 140px;
		}
	}

	@keyframes top768Anim {
		0% {
			top: -40px;
		}

		100% {
			top: 40px;
		}
	}

	@keyframes bottom768Anim {
		0% {
			bottom: -40px;
		}

		100% {
			bottom: 40px;
		}
	}

	.menuBox .mb_2 {
		top: 25px;
		line-height: 18px;
	}

	.menuBox .mb_3 {
		top: 45px;
	}

	.menuBox .mb_4 {
		top: 65px;
	}

	.menuBox .mb_5 {
		top: 85px;
	}

	.menuBox .mb_6 {
		top: 105px;
	}

	.menuBox .mb_1,
	.menuBox .mb_2,
	.menuBox .mb_3,
	.menuBox .mb_4,
	.menuBox .mb_5,
	.menuBox .mb_6 {
		position: relative;
	}

	.menuBox .mb_2 span {
		display: none;
	}

	.menuBox .mb_2 br {
		display: block;
	}

	#hamb_btn-check:checked~.hamb_btn .menuBox .mb_1,
	#hamb_btn-check:checked~.hamb_btn .menuBox .mb_2,
	#hamb_btn-check:checked~.hamb_btn .menuBox .mb_3,
	#hamb_btn-check:checked~.hamb_btn .menuBox .mb_4,
	#hamb_btn-check:checked~.hamb_btn .menuBox .mb_5,
	#hamb_btn-check:checked~.hamb_btn .menuBox .mb_6 {
		animation: mb_allDelta 0.3s 1.2s ease-in-out forwards;
	}

	@keyframes mb_allDelta {
		from {}

		to {
			width: 140px;
		}
	}

	.menuBox .deltaLeft {
		border-bottom: max(3vw, 20px) solid transparent;
		border-left: max(3vw, 20px) solid rgba(255, 0, 0, 1);
	}

	.menuBox .deltaRight {
		border-top: max(3vw, 20px) solid transparent;
		border-right: max(3vw, 20px) solid rgba(255, 0, 0, 1);
	}
}

.topButton::after {
	content: 'Top';
	position: absolute;
	z-index: 1000;
	top: clamp(-60px, -2.409vw, -25px);
	left: clamp(21px, 2.279vw, 60px);
	color: rgb(255, 255, 255);
	font-size: max(16px, 1.4vw);
	transition: all 0.5s;
}

.topButton {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1000;
	width: fit-content;
	height: fit-content;
	border-top: clamp(50px, 5vw, 150px) solid transparent;
	border-right: clamp(50px, 5vw, 150px) solid rgb(255, 0, 0);
	transition: all 0.5s;
	cursor: pointer;
}

.topButton:hover:after {
	left: clamp(36px, 4.036vw, 90px);
	top: clamp(-77px, -3.255vw, -33px);
}

.topButton:hover {
	border-top: clamp(70px, 7vw, 170px) solid transparent;
	border-right: clamp(70px, 7vw, 170px) solid rgb(255, 0, 0);
}

@media screen and (max-width:1280px) {
	#se1 ol li:nth-of-type(1) {
		padding-left: clamp(330px, 38.281vw, 490px);
	}

	#se1 ol li:nth-of-type(2) {
		padding-left: clamp(280px, 32.813vw, 420px);
	}

	#se1 ol li:nth-of-type(3) {
		padding-left: clamp(230px, 27.344vw, 350px);
	}

	#se1 ol li:nth-of-type(4) {
		padding-left: clamp(180px, 21.875vw, 280px);
	}

	#se1 ol li:nth-of-type(5) {
		padding-left: clamp(130px, 16.406vw, 210px);
	}

	#se1 ol li:nth-of-type(6) {
		padding-left: clamp(50px, 10.938vw, 140px);
	}

	#se1 ol li:nth-of-type(7) {
		padding-left: 0;
	}
}

#se1 ol li .tr_sml,
#se2 .content .tr_sml,
#se3 .content .tr_sml,
#se5 .content .tr_sml {
	position: absolute;
	z-index: -1;
	transform: translate(-6px, 3px);
	border-width: 40px 40px 0 0;
	border-color: rgba(255, 0, 0, 0.2) transparent transparent transparent;
}

#se1 ol li:nth-of-type(7) .tr_sml {
	transform: translate(-13px, -3px);
	border-width: 130px 130px 0 0;
}

#se2 .seBody {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#se2 h3 span {
	padding-left: 1em;
	font-size: 20px;
}

#se2 .content .tr_sml {
	border-width: 30px 30px 0 0;
}

#se2 h4 {
	font-size: 20px;
	color: red;
}

#se2 p,
#se3 p {
	line-height: 30px;
}

#se2 p span,
#se3 p span,
#se5 p span {
	display: inline-block;
}

#se4 .textBox .text1 {
	padding-right: 1vw;
	text-align: start;
	color: #FFFFFF;
	word-wrap: break-word;
	white-space: pre-wrap;
	text-shadow: 0px 0px 5px #ff0000;
}

#se4 .textBox ul li {
	line-height: 40px;
}

#se4 .textBox .text2 {
	white-space: pre-wrap;
}

#se4 .textBox .text2 span {
	display: inline-block;
}

#se4 .textBox ul li:nth-of-type(4) .text2 span:first-of-type,
#se4 .textBox ul li:nth-of-type(6) .text2 span:first-of-type,
#se4 .textBox ul li:nth-of-type(8) .text2 span:first-of-type {
	font-size: 16px;
}

#se4 .textBox .text3 {
	width: 100%;
	margin-top: 2rem;
	text-align: center;
}

#se4 .textBox br {
	display: none;
}

@media screen and (max-width:1000px) {

	#se4 .textBox br {
		display: block;
	}

	#se4 .textBox ul li:nth-of-type(4) .text2 span:first-of-type,
	#se4 .textBox ul li:nth-of-type(8) .text2 span:nth-child(3) {
		padding-left: 5em;
	}
}

#se5 .content ul {
	display: flex;
	align-items: center;
}

#se5 .content ul li {
	width: 50%;
}

#se5 .content ul li:first-child {
	padding-right: min(2vw, 50px);
	line-height: 40px;
}

#se5 .content ul li:last-child {
	display: flex;
	justify-content: center;
}

#se5 .content ul li:last-child img {
	position: relative;
	width: 100%;
	object-fit: scale-down;
}

#se5 .content ul li:last-child .imgBox {
	position: relative;
	text-align: center;
}

#se5 .content ul li:last-child .imgBox a::before {
	content: 'こちらのサイトを開く';
	position: absolute;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-size: clamp(16px, 1.563vw, 20px);
	font-weight: bold;
	color: #fff;
	text-decoration: underline;
	text-shadow: 0px 0px 5px #ff0000;
}

#se5 .content ul li:last-child .imgBox a:hover:before {
	background: linear-gradient(90deg, rgba(255, 0, 0, 0.7) 0%, rgba(251, 80, 80, 0.4) 50%, rgba(255, 186, 186, 0.2) 100%);
	background-size: 200% 100%;
	transition: all 2s;
	animation: pfHover 2s ease-in-out infinite;
}

@keyframes pfHover {

	0%,
	100% {
		color: #fff;
		background-position: 100% 50%;
	}

	50% {
		color: red;
		background-position: 50% 100%;
	}
}

#se5 .seBody .content {
	margin-bottom: 100px;
}

@media screen and (max-width:767.5px) {
	.topButton {
		border-top: clamp(70px, 7vw, 170px) solid transparent;
		border-right: clamp(70px, 7vw, 170px) solid rgb(255, 0, 0);
	}

	.topButton:after {
		left: clamp(36px, 4.036vw, 90px);
		top: clamp(-77px, -3.255vw, -33px);
	}

	.hmbFadeIn-main {
		top: 50px;
		height: calc(100vh - 50px);
	}

	.tr_big {
		border-width: 20px 20px 0 0;
		opacity: 0;
	}

	.tr_sml {
		border-width: 10px 10px 0 0;
		opacity: 0;
	}

	#top .left {
		display: block;
	}

	#top .right .tr_sml,
	#top .left .tr_sml {
		position: absolute;
		top: max(2.608vw, 10px);
		left: max(2.608vw, 10px);
	}

	#top .right .tr_sml+div,
	#top .left .tr_sml+div {
		top: 0;
		left: max(5.215vw, 20px);
	}

	#top .right .tr_sml+div+div,
	#top .left .tr_sml+div+div {
		top: max(2.608vw, 10px);
		left: max(5.215vw, 20px);
	}

	#top .right .tr_sml+div+div+div,
	#top .left .tr_sml+div+div+div {
		top: 0;
		left: max(7.823vw, 30px);
	}

	.right .tr_sml,
	.left .tr_sml {
		position: absolute;
		top: 25px;
		left: 25px;
	}

	.right .tr_sml+div,
	.left .tr_sml+div {
		top: 0;
		left: 50px;
	}

	.right .tr_sml+div+div,
	.left .tr_sml+div+div {
		top: 25px;
		left: 50px;
	}

	.right .tr_sml+div+div+div,
	.left .tr_sml+div+div+div {
		top: 0;
		left: 75px;
	}

	.top_mainVisual {
		min-height: auto;
	}

	#top h1 {
		font-size: max(5.215vw, 20px);
		line-height: max(3.911vw, 15px);
		white-space: nowrap;
	}

	#top .title {
		justify-content: center;
		top: 50vh;
		padding-left: 0;
	}

	#top .text1 span,
	#top .text2 span {
		font-size: 16px;
	}

	#top .text1 {
		width: 100%;
		top: 35vh;
		right: 0;
		padding-right: 0;
		text-align: center;
		font-size: 16px;
	}

	#top .text2 {
		width: 100%;
		top: 65vh;
		padding-left: 0;
		text-align: center;
		font-size: 16px;
	}

	section {
		padding: 5px 0;
	}

	section h2 {
		font-size: max(5.215vw, 20px);
		line-height: 50px;
		white-space: nowrap;
		padding: 0 10px 0 5vw;
	}

	section .left {
		display: none;
	}

	#top .tr_big {
		border-width: max(5.215vw, 20px) max(5.215vw, 20px) 0 0;
	}

	#top .tr_sml {
		border-width: max(2.608vw, 10px) max(2.608vw, 10px) 0 0;
	}

	section .tr_big {
		border-width: 50px 50px 0 0;
		opacity: 1;
	}

	section .tr_sml {
		border-width: 25px 25px 0 0;
		opacity: 1;
	}

	section .seBody {
		height: 100%;
		margin: 60px 0;
		padding: 15px 5vw;
	}

	section .seBody .content {
		padding: 20px;
	}

	#se1 .title,
	#se2 .title,
	#se3 .title,
	#se4 .title,
	#se5 .title,
	#se6 .title {
		padding-left: 0;
		top: 0px;
	}

	#se2 h2 {
		font-size: clamp(16px, 3.646vw, 60px);
		letter-spacing: -0.5px;
	}

	#se1 .imgBox {
		width: clamp(150px, 39.063vw, 300px);
		height: clamp(150px, 39.063vw, 300px);
		margin: 0 auto;
		filter: drop-shadow(-9px 22px 0px red);
	}

	#se1 .content {
		position: relative;
		margin-top: 0;
		top: 0;
		left: 0;
		padding-top: 40px;
	}

	#se1 ol {
		margin: 0 auto;
	}

	#se1 ol li:nth-of-type(1),
	#se1 ol li:nth-of-type(2),
	#se1 ol li:nth-of-type(3),
	#se1 ol li:nth-of-type(4),
	#se1 ol li:nth-of-type(5),
	#se1 ol li:nth-of-type(6),
	#se1 ol li:nth-of-type(7) {
		padding-left: 15%;
		height: 50px;
	}

	#se1 ol li:nth-of-type(7) {
		height: 100%;
	}

	section .seBody .content h3 {
		top: clamp(-20px, -3.125vw, -24px);
		font-size: clamp(24px, 3.646vw, 28px);
	}

	#se2 h4 {
		font-size: clamp(18px, 2.604vw, 20px);
		letter-spacing: -2px;
	}

	#se2 p,
	#se3 p {
		line-height: unset;
	}

	#se2 .seBody .content:last-child {
		margin-top: 50px;
	}

	#se3 .seBody .content h3 {
		top: clamp(-22px, -3.516vw, -13px);
		font-size: clamp(17px, 3.646vw, 28px);
		letter-spacing: -2px;
	}

	#se4 .textBox ul li {
		line-height: unset;
	}

	#se4 .textBox .text1 {
		display: block;
	}

	#se4 .textBox ul li:nth-of-type(4) .text2 span:first-of-type,
	#se4 .textBox ul li:nth-of-type(8) .text2 span:nth-child(3) {
		padding-left: 0;
	}

	#se4 .textBox .text3 {
		text-align: start;
	}

	#se5 .content ul {
		display: block;
	}

	#se5 .content ul li {
		width: 100%;
	}
}

@media screen and (max-width: 426px) {
	.hmbFadeIn-main {
		top: 0px;
		height: 100vh;
	}

	section .seBody .content h3 {
		left: 15px;
	}

	section .right .tr_sml,
	section .left .tr_sml {
		border-color: rgb(255, 0, 0) transparent transparent transparent;
	}

	section h2 {
		width: 100%;
	}

	#se1 .title,
	#se2 .title,
	#se3 .title,
	#se4 .title,
	#se5 .title,
	#se6 .title {
		top: 0px;
		overflow: hidden;
	}

	#se2 .title,
	#se4 .title,
	#se5 .title {
		top: 0px;
	}

	#se1 .title .right,
	#se2 .title .right,
	#se3 .title .right,
	#se4 .title .right,
	#se5 .title .right,
	#se6 .title .right {
		display: none;
	}
}

/* =====<<< TopTitleAnima >>>===== */

#top h1 {
	animation: opTitleBg1 0.5s 0.8s ease-in-out forwards;
}

@keyframes opTitleBg1 {
	0% {}

	30% {
		background-color: rgba(255, 0, 0, 0.2);
	}

	100% {
		color: rgba(255, 255, 255, 1);
		background-color: rgba(255, 0, 0, 1);
	}
}

#top .title {
	animation: opTitleBg2 0.3s ease-in-out forwards;
}

@keyframes opTitleBg2 {
	0% {}

	100% {
		background-color: rgba(255, 0, 0, 0.2);
	}
}

#top .title .right .tr_big,
#top .title .left .tr_big {
	animation: opDeltaB 0.7s 1.2s ease-in-out forwards;
}

@keyframes opDeltaB {
	0% {
		opacity: 0;
		transform: translateX(-60px);
	}

	1% {
		opacity: 1;
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

#top .right .tr_sml,
#top .left .tr_sml {
	animation: opDeltaS 0.7s 2.3s ease-in-out forwards, opDeltaSroop1 8s 7.5s ease-in-out infinite;
}

#top .right .tr_sml+div,
#top .left .tr_sml+div {
	animation: opDeltaS 1.4s 2.3s ease-in-out forwards, opDeltaSroop2 7.8s 7.2s ease-in-out infinite;
}

#top .right .tr_sml+div+div,
#top .left .tr_sml+div+div {
	animation: opDeltaS 2.1s 2.3s ease-in-out forwards, opDeltaSroop3 8.4s 8s ease-in-out infinite;
}

#top .right .tr_sml+div+div+div,
#top .left .tr_sml+div+div+div {
	animation: opDeltaS 2.8s 2.3s ease-in-out forwards, opDeltaSroop4 9s 7.2s ease-in-out infinite;
}

@keyframes opDeltaS {
	0% {
		opacity: 0;
		transform: rotateY(90deg);
	}

	100% {
		opacity: 1;
		transform: rotateY(0deg);
	}
}

@keyframes opDeltaSroop1 {
	0% {
		transform: rotateY(0deg);
	}

	50% {
		transform: rotateY(180deg);
	}

	100% {
		transform: rotateY(360deg);
	}
}

@keyframes opDeltaSroop2 {
	0% {
		transform: rotateY(0deg);
	}

	40% {
		transform: rotateY(160deg);
	}

	70% {
		transform: rotateY(200deg);
	}

	100% {
		transform: rotateY(360deg);
	}
}

@keyframes opDeltaSroop3 {
	0% {
		transform: rotateX(0deg);
	}

	50% {
		transform: rotateX(200deg);
	}

	100% {
		transform: rotateX(360deg);
	}
}

@keyframes opDeltaSroop4 {
	0% {
		transform: rotateX(0deg);
	}

	30% {
		transform: rotateX(50deg);
	}

	70% {
		transform: rotateX(100deg);
	}

	100% {
		transform: rotateX(360deg);
	}
}

#top .text1 {
	animation: opText1 0.7s 1.5s ease-in-out forwards;
}

@keyframes opText1 {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

#top .text2 {
	animation: opText2 0.7s 1.5s ease-in-out forwards;
}

@keyframes opText2 {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}