.slickImg {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.slider-3 .slick-slide {
	margin: 0 60px;
	padding: 60px 0;
	position: relative;
}

.slider-3 .slick-slide .slide-img {
	/* width: 35vw; */
	width: clamp(300px, 32.552vw, 550px);
	transition: all 0.6s ease 0.4s;
	opacity: 0.8;
	overflow: hidden;
}

.slider-3 .slick-slide.slick-current .slide-img {
	transform: scale(1.2);
	opacity: 1;
	animation: boxshadowImg 2.5s ease-in-out infinite;
}

@keyframes boxshadowImg {

	0%,
	100% {
		box-shadow: 0px 0px 20px 0px rgb(255, 0, 0);
	}

	50% {
		box-shadow: 0px 0px 5px 0px rgb(255, 0, 0);
	}
}

.slider-3 .slick-slide .slide-img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.slider-3 .slick-arrow {
	width: clamp(30px, 7.813vw, 60px);
	height: clamp(30px, 7.813vw, 60px);
	border-radius: 50%;
	background-color: red;
	cursor: pointer;
	border: none;
	outline: none;
	font-size: 0;
	position: absolute;
	top: 40%;
	z-index: 1;
	transform: translateY(-50%);
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}

.slider-3 .slick-arrow::before {
	content: '';
	display: block;
	width: 12px;
	height: 12px;
	border: 1px solid #fff;
	border-width: 5px 5px 0 0;
	position: absolute;
	top: 24px;
	transform: rotate(45deg);
}

.slider-3 .slick-arrow:hover:before {
	animation: slickArrowColor 1.5s ease infinite;
}

@keyframes slickArrowColor {
	0% {
		border-color: #fff;
	}

	50% {
		border-color: red;
	}

	100% {
		border-color: #fff;
	}
}

.slider-3 .slick-next:hover,
.slider-3 .slick-prev:hover {
	animation: arrowMotion 1.5s ease-out infinite;
}

@keyframes arrowMotion {

	0%,
	100% {}

	50% {
		background-color: #fff;
	}
}

.slider-3 .slick-next::before {
	left: 20px;
}

.slider-3 .slick-prev::before {
	border-width: 0 0 5px 5px;
	right: 22px;
}

.dots-3 .slick-dots {
	text-align: center;
	position: static;
	bottom: unset;
}

.dots-3 .slick-dots li {
	display: inline-block;
}

.dots-3 .slick-dots button {
	display: block;
	width: 10px;
	height: 10px;
	margin: 6px;
	font-size: 0;
	padding: 0;
	border: 0;
	outline: none;
	cursor: pointer;
	background: rgb(255, 198, 198);
	border-radius: 50%;
}

.dots-3 .slick-dots .slick-active button {
	background: red;
	animation: boxshadowImg 2.5s ease-in-out infinite;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
	color: rgba(0, 0, 0, 0);
}


.slick-dotted.slick-slider {
	margin: 0 5vw;
}

@media screen and (max-width:767.5px) {
	.slider-3 .slick-arrow {
		top: 44%;
	}

	.slider-3 .slick-next::before {
		top: 32%;
		left: clamp(0px, 2.604vw, 20px);
		width: clamp(7px, 1.563vw, 12px);
		height: clamp(7px, 1.563vw, 12px);
		border: 1px solid #fff;
		border-width: 3px 3px 0 0;
	}

	.slider-3 .slick-prev::before {
		top: 32%;
		right: clamp(0px, 2.604vw, 20px);
		width: clamp(7px, 1.563vw, 12px);
		height: clamp(7px, 1.563vw, 12px);
		border: 1px solid #fff;
		border-width: 0 0 3px 3px;
	}

	.slick-dotted.slick-slider {
		margin: 0;
	}

	.slider-3 .slick-slide .slide-img {
		width: 70vw;
	}

	.dots-3 .slick-dots button {
		width: 5px;
		height: 5px;
	}

	.slider-3 .slick-arrow {
		background-color: rgba(255, 255, 255, 0.2);
	}

	.slider-3 .slick-arrow::before {
		border: 1px solid red;
		border-width: 6px 6px 0 0;
		filter: drop-shadow(2px 4px 1px #fff);
	}

	.slider-3 .slick-prev::before {
		border-width: 0 0 6px 6px;
	}

	.slider-3 .slick-next:hover,
	.slider-3 .slick-prev:hover {
		animation: arrowMotion none;
	}
	.slider-3 .slick-arrow:hover:before {
		animation: slickArrowColor none;
	}

	.slider-3 .slick-prev {
		transform: translateX(8vw);
	}

	.slider-3 .slick-next {
		transform: translateX(-8vw);
	}

}