@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-size: clamp(16px, 1.302vw, 20px);
	font-family: serif, 'Noto Serif JP', sans-serif;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
	height: -webkit-fill-available;
}

body {
	min-height: -webkit-fill-available;
	background-image: url(./img/Background2.jpg);
}

body::before {
	content: '';
	background-color: rgba(0, 0, 0, .2);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.sideLeft,
.sideRight {
	display: none;
}

@media screen and (min-width:1536px) {

	.sideLeft {
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		width: 30%;
		height: 100%;
	}

	.sideRight {
		position: fixed;
		display: block;
		top: 0;
		right: 0;
		width: 30%;
		height: 100%;
	}

	canvas {
		width: 100%;
		height: 100%;
	}
}

main {
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: 1536px;
	height: 100vh;
	margin: 0 auto;
}

main::before {
	content: '';
	background-image: url(./img/Background2.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	position: absolute;
	height: 100%;
	max-width: 1536px;
	margin: 0 auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

section {
	position: relative;
	width: 100%;
	max-width: 1536px;
	height: 100%;
	margin: 0 auto;
	padding-bottom: max(20vh, 30px);
}

*::-webkit-scrollbar {
	background: rgb(242, 188, 188);
	width: 20px;
}

*::-webkit-scrollbar-thumb {
	background: rgb(255, 0, 0);
	height: 30px;
}

.tr_big,
.tr_sml,
.tr_sml-hc {
	width: 0;
	height: 0;
	border-style: solid;
	border-color: rgb(255, 0, 0) transparent transparent transparent;
	line-height: 0px;
}

.right .tr_sml,
.left .tr_sml,
.right .tr_sml-hc,
.left .tr_sml-hc {
	position: absolute;
	top: 30px;
	left: 30px;
}

.right .tr_sml+div,
.left .tr_sml+div {
	top: 0;
	left: 60px;
}

.right .tr_sml+div+div,
.left .tr_sml+div+div {
	top: 30px;
	left: 60px;
}

.right .tr_sml+div+div+div,
.left .tr_sml+div+div+div {
	top: 0;
	left: 90px;
}

#seCon .title {
	position: sticky;
	display: flex;
	z-index: 2;
	width: 100%;
	top: 0px;
	padding-left: clamp(95px, 12.37vw, 150px);
	background-color: rgba(255, 0, 0, 0.2);
}

section h2 {
	position: relative;
	z-index: 1;
	width: fit-content;
	padding: 5px 0.3em 0;
	line-height: 55px;
	font-size: clamp(42px, 5.469vw, 60px);
	color: rgba(255, 255, 255, 1);
	background-color: rgba(255, 0, 0, 1);
}

section .right {
	position: relative;
	top: 0;
	left: 0;
}

section .left {
	position: relative;
	top: 0;
	left: 0;
	transform: rotate(180deg);
}


section .tr_big {
	border-width: 60px 60px 0 0;
	opacity: 1;
}

section .tr_sml {
	border-width: 30px 30px 0 0;
	opacity: 1;
}

section .seBody {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: auto;
	padding: 2vw 15vw;
}

section .seBody .content {
	position: relative;
	z-index: 0;
	padding: 30px 50px;
	background: rgba(250, 202, 202, 0.7);
	border-width: 0.065vw 0.651vw;
	border-style: solid;
	border-color: #FF0000;
	box-shadow: 2px 1px 4px #ff0000;
}

section .seBody .content h3 {
	position: absolute;
	top: -27px;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: clamp(30px, 2.5vw, 36px);
	font-weight: bold;
	color: #fff;
	text-shadow: 0px 0px 5px #ff0000;
}

section .seBody .textBox p {
	text-align: center;
}

section .seBody .textBox span {
	display: inline-block;
}

section .indexTop {
	position: absolute;
	display: flex;
	left: 50%;
	bottom: 20%;
	transform: translateX(-50%);
	margin: 0 auto;
	padding: 0 1px;
	background-color: rgba(255, 0, 0, 0.2);
	animation: hoverAnima 3s ease-in infinite;
}

@keyframes hoverAnima {

	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}
}

section .indexTop .tr_big {
	border-width: 40px 40px 0 0;
}

section .indexTop .tr_sml,
section .indexTop .tr_sml-hc {
	border-width: 20px 20px 0 0;
}

section .indexTop .right .tr_sml,
section .indexTop .left .tr_sml {
	top: 20px;
	left: 20px;
}

section .indexTop .right .tr_sml+div,
section .indexTop .left .tr_sml+div {
	top: 0;
	left: 40px;
}

section .indexTop .right .tr_sml+div+div,
section .indexTop .left .tr_sml+div+div {
	top: 20px;
	left: 40px;
}

section .indexTop .right .tr_sml+div+div+div,
section .indexTop .left .tr_sml+div+div+div {
	top: 0;
	left: 67.5px;
}

section .indexTop .right .tr_sml+div+div+div,
section .indexTop .left .tr_sml+div+div+div {
	top: 0;
	left: 60px;
}

section .indexTop .right #hc,
section .indexTop .left #hc {
	top: 0;
	left: 40px;
	border-color: transparent rgb(242, 188, 188) transparent transparent
}

section .indexTop a {
	background-color: red;
	color: #fff;
	font-size: 24px;
	line-height: 45px;
}

.text {
	text-align: center;
	margin-bottom: 1em;
	font-size: 20px;
}

table {
	width: 100%;
	margin-bottom: 20px;
}

.mitem,
.mbody {
	padding: 10px;
	border: 1px solid red;
}

.mitem {
	text-align: left;
	width: 20%;
	color: #fff;
	font-weight: bold;
	background-color: red;
}

#required .mitem::after,
.mitem #required::after {
	content: '必須';
	font-size: 0.781vw;
	font-weight: bold;
	margin: 2px 10px;
	padding: 2px 4px;
	color: red;
	background-color: #fff;
	border-radius: 4px;
}

.mbody {
	width: 70%;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
	width: 60%;
}

.textarea {
	overflow: scroll;
	resize: none;
	width: 100%;
	height: 50vh;
	font-size: 16px;
}

.msubmit {
	width: clamp(150px, 13.021vw, 250px);
	background-color: red;
	color: #fff;
	font-size: max(1.302vw, 16px);
	font-weight: bold;
	display: block;
	margin: 0 auto;
	padding: 0;
	line-height: 30px;
	border: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}

.msubmit::before {
	content: 'トップページに戻る';
}

@media screen and (max-width:767.5px) {
	section .title .left {
		display: none;
	}

	.tr_big {
		border-width: 20px 20px 0 0;
		opacity: 0;
	}

	.tr_sml {
		border-width: 10px 10px 0 0;
		opacity: 0;
	}

	.right .tr_sml,
	.left .tr_sml {
		position: absolute;
		top: 25px;
		left: 25px;
	}

	.right .tr_sml+div,
	.left .tr_sml+div {
		top: 0;
		left: 50px;
	}

	.right .tr_sml+div+div,
	.left .tr_sml+div+div {
		top: 25px;
		left: 50px;
	}

	.right .tr_sml+div+div+div,
	.left .tr_sml+div+div+div {
		top: 0;
		left: 75px;
	}

	section h2 {
		font-size: max(5.215vw, 20px);
		line-height: 50px;
		white-space: nowrap;
		padding: 0 10px 0 5vw;
	}

	section .right {
		position: relative;
		top: 0;
		left: 0px;
	}

	section .tr_big {
		border-width: 50px 50px 0 0;
		opacity: 1;
	}

	section .tr_sml {
		border-width: 25px 25px 0 0;
		opacity: 1;
	}

	section .seBody {
		height: 100%;
		margin: 60px 0;
		padding: 15px 5vw;
	}

	section .seBody .content {
		padding: 20px;
	}

	#seCon .title {
		padding-left: 0;
		overflow: hidden;
	}

	section .seBody .content h3 {
		top: clamp(-20px, -3.125vw, -24px);
		font-size: clamp(24px, 3.646vw, 28px);
	}

	#seCon .textBox ul li {
		line-height: unset;
	}

	#seCon .textBox .text1 {
		display: block;
	}

	#seCon .textBox ul li:nth-of-type(4) .text2 span:first-of-type,
	#seCon .textBox ul li:nth-of-type(8) .text2 span:first-of-type {
		padding-left: 0;
	}

	#seCon .textBox .text3 {
		text-align: start;
	}
}

.hmbFadeIn-main {
	position: fixed;
	z-index: 9999;
	top: 60px;
	left: 0;
	width: 0;
	height: calc(100vh - 50px);
	background-color: rgba(0, 0, 0, .7);
	opacity: 0;
}

.hmbFadeIn {
	animation: hmbFadeInAnima 0.3s linear forwards;
}

.hmbFadeOut {
	animation: hmbFadeOutAnima 0.3s linear forwards;
}

@keyframes hmbFadeInAnima {
	from {
		width: 100vw;
		opacity: 0;
	}

	to {
		width: 100vw;
		opacity: 1;
	}
}

@keyframes hmbFadeOutAnima {
	from {
		width: 100vw;
		opacity: 1;
	}

	to {
		width: 100vw;
		opacity: 0;
	}
}

.hamburgerMenu {
	position: fixed;
	z-index: 10000;
	top: 10vh;
	right: 0;
}

#hamb_btn-check {
	display: none;
}

.deltaLeft,
.deltaRight,
.deltaHeightTop,
.deltaHeightBottom,
.menuBox {
	position: absolute;
	right: 0;
	top: 0;
	width: 0vw;
	height: 0vw;
	transition: all 0.5s;
	pointer-events: none;
	cursor: unset;
}

.deltaLeft {
	border-bottom: max(3vw, 50px) solid transparent;
	border-left: max(3vw, 50px) solid rgba(255, 0, 0, 1);
}

.deltaRight {
	border-top: max(3vw, 50px) solid transparent;
	border-right: max(3vw, 50px) solid rgba(255, 0, 0, 1);
}

#hamb_btn-check:checked~.hamb_btn .deltaBox .deltaLeft {
	width: 70vw;
	background-color: rgb(255, 214, 214);
}

#hamb_btn-check:checked~.hamb_btn .deltaBox .deltaLeft {
	width: calc(100vw - 20px);
	background-color: rgb(255, 214, 214);
}

.menuBox .deltaLeft {
	border-bottom: 3vw solid transparent;
	border-left: 3vw solid rgba(255, 0, 0, 1);
}

.menuBox .deltaRight {
	border-top: 3vw solid transparent;
	border-right: 3vw solid rgba(255, 0, 0, 1);
}

.deltaHeightTop {
	top: unset;
	bottom: max(3vw, 49px);
	left: calc(-100vw + 20px);
	transform: translateX(max(6vw, 100px));
	width: 0vw;
	height: max(3vw, 50px);
	background-color: rgb(255, 214, 214);
}

.deltaHeightBottom {
	top: max(3vw, 49px);
	transform: translateX(-50px);
	width: 0vw;
	height: max(3vw, 50px);
	background-color: rgb(255, 214, 214);
}

.deltaHeightBottom .tr_sml,
.deltaHeightTop .tr_sml {
	border-width: max(1.5vw, 25px) max(1.5vw, 25px) 0 0;
}

.deltaHeightTop .left {
	transform: rotateZ(180deg);
}

.deltaHeightBottom .right {
	position: absolute;
	top: 0;
	right: -50px;
	height: 50px;
	width: 50px;
	overflow: hidden;
}

.deltaHeightTop .left {
	position: absolute;
	top: 0;
	left: clamp(-78px, -3.255vw, -50px);
	height: max(3vw, 50px);
	width: max(3vw, 50px);
	overflow: hidden;
}

.deltaHeightBottom .right .tr_sml,
.deltaHeightTop .left .tr_sml {
	position: absolute;
	top: -7vw;
	left: unset;
	right: 0px;
}

.deltaHeightBottom .right .tr_sml+div,
.deltaHeightTop .left .tr_sml+div,
.deltaHeightBottom .right .tr_sml+div+div+div,
.deltaHeightTop .left .tr_sml+div+div+div {
	top: -7vw;
	left: unset;
	right: max(1.5vw, 25px);
}

.deltaHeightBottom .right .tr_sml+div+div,
.deltaHeightTop .left .tr_sml+div+div {
	top: -7vw;
	left: unset;
	right: max(1.5vw, 25px);
}

.deltaHeightBottom .right .tr_sml+div+div+div,
.deltaHeightTop .left .tr_sml+div+div+div {
	transform: rotateZ(180deg);
	border-color: rgb(255, 214, 214) transparent transparent transparent;
}

#hamb_btn-check:checked~.hamb_btn .deltaHeightBottom .right .tr_sml,
#hamb_btn-check:checked~.hamb_btn .deltaHeightTop .left .tr_sml,
#hamb_btn-check:checked~.hamb_btn .deltaHeightBottom .right .tr_sml+div,
#hamb_btn-check:checked~.hamb_btn .deltaHeightTop .left .tr_sml+div,
#hamb_btn-check:checked~.hamb_btn .deltaHeightBottom .right .tr_sml+div+div+div,
#hamb_btn-check:checked~.hamb_btn .deltaHeightTop .left .tr_sml+div+div+div {
	animation: rightTri_1 0.3s 0.6s ease-in-out forwards;
}

@keyframes rightTri_1 {
	from {}

	to {
		top: 0px;
	}
}

#hamb_btn-check:checked~.hamb_btn .deltaHeightBottom .right .tr_sml+div+div,
#hamb_btn-check:checked~.hamb_btn .deltaHeightTop .left .tr_sml+div+div {
	animation: rightTri_2 0.3s 0.6s ease-in-out forwards;
}

@keyframes rightTri_2 {
	from {}

	to {
		top: max(1.5vw, 25px);
	}
}

#hamb_btn-check:checked~.hamb_btn .deltaHeightTop,
#hamb_btn-check:checked~.hamb_btn .deltaHeightBottom {
	background-color: rgb(255, 214, 214);
	animation: hambMenuHeight 0.3s 1s ease-in-out forwards;
}

@keyframes hambMenuHeight {
	from {}

	to {
		width: calc(100vw - 20px);
	}
}

.hamb_btn {
	position: fixed;
	display: flex;
	top: calc(57px + max(3vw, 50px));
	right: 0;
	height: max(3vw, 50px);
	width: max(3vw, 50px);
	cursor: pointer;
}

.lineBox .line1,
.lineBox .line2,
.lineBox .line3 {
	content: '';
	position: absolute;
	display: block;
	height: max(0.26vw, 3px);
	width: clamp(39px, 2.669vw, 63px);
	background-color: #ffffff;
	transition: all 1s;
}

.lineBox {
	position: absolute;
	display: flex;
	top: 46%;
	left: 10%;
}

.lineBox .line1 {
	transform: translateY(min(-1vw, -15px));
}

.lineBox .line3 {
	transform: translateY(max(1vw, 15px));
}

@media screen and (max-width: 768px) {

	.lineBox {
		top: 23px;
		left: 6px;
	}

	.lineBox .line1 {
		transform: translateY(-13px);
	}

	.lineBox .line3 {
		transform: translateY(13px);
	}
}

#hamb_btn-check:checked~.hamb_btn .lineBox .line1 {
	transform: rotate(45deg) translate(-0.3vw, -0.3vw);
}

#hamb_btn-check:checked~.hamb_btn .lineBox .line2 {
	transform: rotate(-45deg) translate(0.3vw, -0.3vw);
}

#hamb_btn-check:checked~.hamb_btn .lineBox .line3 {
	transform: translate(0.1vw, clamp(14px, 0.911vw, 17px));
	width: clamp(39px, 2.669vw, 63px);
}

@media screen and (max-width: 900px) {
	#hamb_btn-check:checked~.hamb_btn .lineBox .line3 {
		opacity: 0;
	}
}

.close {
	display: none;
}

@media screen and (min-width: 1250px) {
	.close {
		display: block;
		transform: translate(clamp(5px, 0.195vw, 7px), clamp(9px, 0.716vw, 14px));
		font-size: clamp(15px, 1.107vw, 24px);
		color: rgba(255, 255, 255, 0);
		transition: all 1s;
	}

	#hamb_btn-check:checked~.hamb_btn .lineBox .close {
		color: rgba(255, 255, 255, 1);
	}
}

.menuBox {
	position: absolute;
	display: flex;
	top: -2vw;
	left: max(-74vw, -2015px);
	width: 63vw;
	height: clamp(80px, 7vw, 180px);
	color: rgba(255, 255, 255, 1);
	opacity: 0;
	transition: all 1s;
}

#hamb_btn-check:checked~.hamb_btn .menuBox {
	animation: menuCommandText 0.3s 0.9s ease-in-out forwards;
}

@keyframes menuCommandText {
	from {}

	to {
		opacity: 1;
	}
}

.menuBox .mb_1,
.menuBox .mb_2,
.menuBox .mb_3,
.menuBox .mb_4,
.menuBox .mb_5,
.menuBox .mb_6 {
	position: absolute;
	width: 3vw;
	height: 3vw;
	background-color: rgba(255, 161, 161, 1);
	overflow: hidden;
	transition: all 1s;
}

.menuBox .mb_text a {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	font-size: max(16px, 1.5vw);
	color: rgba(255, 255, 255, 0);
}

.menuBox .mb_2 br {
	display: none;
}

#hamb_btn-check:checked~.hamb_btn .menuBox .mb_1 {
	animation: mb_1delta 0.3s 1.2s ease-in-out forwards;
}

@keyframes mb_1delta {
	from {}

	to {
		width: 15.5vw;
	}
}

.menuBox .mb_2 {
	left: 18.3vw;
}

#hamb_btn-check:checked~.hamb_btn .menuBox .mb_2 {
	animation: mb_2delta 0.3s 1.2s ease-in-out forwards;
}

@keyframes mb_2delta {
	from {}

	to {
		width: 30vw;
	}
}

.menuBox .mb_3 {
	left: 51vw;
}

#hamb_btn-check:checked~.hamb_btn .menuBox .mb_3 {
	animation: mb_3delta 0.3s 1.2s ease-in-out forwards;
}

@keyframes mb_3delta {
	from {}

	to {
		width: 12vw;
	}
}

.menuBox .mb_4 {
	bottom: 0;
	left: 0;
}

#hamb_btn-check:checked~.hamb_btn .menuBox .mb_4 {
	animation: mb_4delta 0.3s 1.2s ease-in-out forwards;
}

@keyframes mb_4delta {
	from {}

	to {
		width: 14vw;
	}
}

.menuBox .mb_5 {
	bottom: 0;
	left: 23vw;
}

#hamb_btn-check:checked~.hamb_btn .menuBox .mb_5 {
	animation: mb_5delta 0.3s 1.2s ease-in-out forwards;
}

@keyframes mb_5delta {
	from {}

	to {
		width: 16vw;
	}
}

.menuBox .mb_6 {
	bottom: 0;
	left: 47vw;
}

#hamb_btn-check:checked~.hamb_btn .menuBox .mb_6 {
	animation: mb_6delta 0.3s 1.2s ease-in-out forwards;
}

@keyframes mb_6delta {
	from {}

	to {
		width: 16vw;
	}
}

.menuBox .deltaLeft {
	position: absolute;
	top: 0;
	left: 0;
}

.menuBox .deltaRight {
	position: absolute;
	top: -1px;
	right: 0;
}

#hamb_btn-check:checked~.hamb_btn .menuBox .mb_text a {
	pointer-events: auto;
	animation: mb_textAnima 0.3s 1.5s ease-in-out forwards;
}

@keyframes mb_textAnima {
	from {}

	to {
		color: rgba(255, 255, 255, 1);
	}
}

.menuBox .mb_text {
	height: 3vw;
}

.menuBox .mb_1:before,
.menuBox .mb_1:after,
.menuBox .mb_1 a:before,
.menuBox .mb_1 a:after,
.menuBox .mb_2:before,
.menuBox .mb_2:after,
.menuBox .mb_2 a:before,
.menuBox .mb_2 a:after,
.menuBox .mb_3:before,
.menuBox .mb_3:after,
.menuBox .mb_3 a:before,
.menuBox .mb_3 a:after,
.menuBox .mb_4:before,
.menuBox .mb_4:after,
.menuBox .mb_4 a:before,
.menuBox .mb_4 a:after,
.menuBox .mb_5:before,
.menuBox .mb_5:after,
.menuBox .mb_5 a:before,
.menuBox .mb_5 a:after,
.menuBox .mb_6:before,
.menuBox .mb_6:after,
.menuBox .mb_6 a:before,
.menuBox .mb_6 a:after {
	content: '';
	position: absolute;
	z-index: 10001;
	background: rgba(255, 255, 255, 1);
}

.menuBox .mb_1:before,
.menuBox .mb_2:before,
.menuBox .mb_3:before,
.menuBox .mb_4:before,
.menuBox .mb_5:before,
.menuBox .mb_6:before {
	bottom: 0;
	height: 3px;
}

.menuBox .mb_1:before {
	left: -15.5vw;
	width: 15.5vw;
}

.menuBox .mb_2:before {
	left: -30vw;
	width: 30vw;
}

.menuBox .mb_3:before {
	left: -12vw;
	width: 12vw;
}

.menuBox .mb_4:before {
	left: -14vw;
	width: 14vw;
}

.menuBox .mb_5:before {
	left: -16vw;
	width: 16vw;
}

.menuBox .mb_6:before {
	left: -16vw;
	width: 16vw;
}

.menuBox .mb_1:after,
.menuBox .mb_2:after,
.menuBox .mb_3:after,
.menuBox .mb_4:after,
.menuBox .mb_5:after,
.menuBox .mb_6:after {
	right: 0;
	width: 3px;
	bottom: -3vw;
	height: 3vw;
}

.menuBox .mb_1 a:before,
.menuBox .mb_2 a:before,
.menuBox .mb_3 a:before,
.menuBox .mb_4 a:before,
.menuBox .mb_5 a:before,
.menuBox .mb_6 a:before {
	top: 0;
	height: 3px;
}

.menuBox .mb_1 a:before {
	right: -15.5vw;
	width: 15.5vw;
}

.menuBox .mb_2 a:before {
	right: -30vw;
	width: 30vw;
}

.menuBox .mb_3 a:before {
	right: -12vw;
	width: 12vw;
}

.menuBox .mb_4 a:before {
	right: -14vw;
	width: 14vw;
}

.menuBox .mb_5 a:before {
	right: -16vw;
	width: 16vw;
}

.menuBox .mb_6 a:before {
	right: -16vw;
	width: 16vw;
}

.menuBox .mb_1 a:after,
.menuBox .mb_2 a:after,
.menuBox .mb_3 a:after,
.menuBox .mb_4 a:after,
.menuBox .mb_5 a:after,
.menuBox .mb_6 a:after {
	top: -3vw;
	left: 0;
	width: 3px;
	height: 3vw;
}

.menuBox .mb_1:hover:before,
.menuBox .mb_3:hover:before,
.menuBox .mb_4:hover:before,
.menuBox .mb_5:hover:before,
.menuBox .mb_6:hover:before {
	animation: leftAnim 1.5s linear 0s infinite;
}

.menuBox .mb_2:hover:before {
	animation: leftAnim_L 1.5s linear 0s infinite;
}

.menuBox .mb_1:hover:after,
.menuBox .mb_2:hover:after,
.menuBox .mb_3:hover:after,
.menuBox .mb_4:hover:after,
.menuBox .mb_5:hover:after,
.menuBox .mb_6:hover:after {
	animation: bottomAnim 1.5s linear .75s infinite;
}

.menuBox .mb_1 a:hover:before,
.menuBox .mb_3 a:hover:before,
.menuBox .mb_4 a:hover:before,
.menuBox .mb_5 a:hover:before,
.menuBox .mb_6 a:hover:before {
	animation: rightAnim 1.5s linear 0s infinite;
}

.menuBox .mb_2 a:hover:before {
	animation: rightAnim_L 1.5s linear 0s infinite;
}

.menuBox .mb_1 a:hover:after,
.menuBox .mb_2 a:hover:after,
.menuBox .mb_3 a:hover:after,
.menuBox .mb_4 a:hover:after,
.menuBox .mb_5 a:hover:after,
.menuBox .mb_6 a:hover:after {
	animation: topAnim 1.5s linear .75s infinite;
}

@keyframes topAnim {
	0% {
		top: -3vw;
	}

	100% {
		top: 3vw;
	}
}

@keyframes topAnim_L {
	0% {
		top: -6vw;
	}

	100% {
		top: 6vw;
	}
}

@keyframes bottomAnim {
	0% {
		bottom: -3vw;
	}

	100% {
		bottom: 3vw;
	}
}

@keyframes bottomAnim_L {
	0% {
		bottom: -6vw;
	}

	100% {
		bottom: 6vw;
	}
}

@keyframes rightAnim {
	0% {
		right: -15.5vw;
	}

	100% {
		right: 15.5vw;
	}
}

@keyframes leftAnim {
	0% {
		left: -15.5vw;
	}

	100% {
		left: 15.5vw;
	}
}

@keyframes rightAnim_L {
	0% {
		right: -30vw;
	}

	100% {
		right: 30vw;
	}
}

@keyframes leftAnim_L {
	0% {
		left: -30vw;
	}

	100% {
		left: 30vw;
	}
}

@media screen and (max-width:767.5px) {

	body::before,
	main::before,
	.sideLeft,
	.sideRight {
		display: none;
	}

	.hmbFadeIn-main {
		top: 50px;
		height: calc(100vh - 50px);
	}

	.hamburgerMenu,
	.hamb_btn {
		top: 0;
	}

	.deltaHeightTop,
	.deltaHeightBottom {
		display: none;
	}

	#hamb_btn-check:checked~main * a {
		pointer-events: none;
	}

	#hamb_btn-check:checked~.hamb_btn .deltaBox .deltaRight {
		border-right: max(3vw, 50px) solid transparent;
	}

	#hamb_btn-check:checked~.hamb_btn .deltaBox .deltaLeft {
		border-top: max(3vw, 50px) solid rgba(255, 0, 0, 1);
		border-left: 20px solid rgba(255, 0, 0, 1);
		border-bottom: 0px solid rgba(255, 0, 0, 1);
	}

	#hamb_btn-check:checked~.hamb_btn .deltaBox .deltaLeft {
		width: 220px;
	}

	#hamb_btn-check:checked~.hamb_btn .deltaBox .deltaLeft {
		animation: heightFullAnima 0.5s 0.5s linear forwards;
	}

	@keyframes heightFullAnima {
		0% {}

		50% {
			height: 450px;
		}

		89% {
			border-bottom: 10px solid rgba(255, 0, 0, 1);
		}

		90% {
			border-bottom: 10px solid rgba(255, 0, 0, 1);
		}

		100% {
			height: 450px;
			border-bottom: 10px solid rgba(255, 0, 0, 1);
		}
	}

	.menuBox {
		position: relative;
		display: block;
		width: max(33vw, 200px);
		top: 73px;
		left: -119px;
	}

	.menuBox .mb_text a {
		font-size: 18px;
	}

	.menuBox .mb_1,
	.menuBox .mb_2,
	.menuBox .mb_3,
	.menuBox .mb_4,
	.menuBox .mb_5,
	.menuBox .mb_6 {
		position: absolute;
		width: 3vw;
		height: max(3vw, 40px);
		background-color: rgba(255, 161, 161, 1);
		overflow: hidden;
		transition: all 1s;
	}

	.menuBox .mb_2,
	.menuBox .mb_3,
	.menuBox .mb_5,
	.menuBox .mb_6 {
		left: 0;
		bottom: unset;
	}

	.menuBox .deltaRight {
		top: unset;
		bottom: 0;
	}

	.menuBox .mb_1:before,
	.menuBox .mb_2:before,
	.menuBox .mb_3:before,
	.menuBox .mb_4:before,
	.menuBox .mb_5:before,
	.menuBox .mb_6:before {
		left: -140px;
		width: 140px;
	}

	.menuBox .mb_1:hover:before,
	.menuBox .mb_2:hover:before,
	.menuBox .mb_3:hover:before,
	.menuBox .mb_4:hover:before,
	.menuBox .mb_5:hover:before,
	.menuBox .mb_6:hover:before {
		animation: left768Anim 1.5s linear 0s infinite;
	}

	.menuBox .mb_1 a:before,
	.menuBox .mb_2 a:before,
	.menuBox .mb_3 a:before,
	.menuBox .mb_4 a:before,
	.menuBox .mb_5 a:before,
	.menuBox .mb_6 a:before {
		right: -140px;
		width: 140px;
	}

	.menuBox .mb_1 a:hover:before,
	.menuBox .mb_2 a:hover:before,
	.menuBox .mb_3 a:hover:before,
	.menuBox .mb_4 a:hover:before,
	.menuBox .mb_5 a:hover:before,
	.menuBox .mb_6 a:hover:before {
		animation: right768Anim 1.5s linear 0s infinite;
	}

	.menuBox .mb_1:after,
	.menuBox .mb_2:after,
	.menuBox .mb_3:after,
	.menuBox .mb_4:after,
	.menuBox .mb_5:after,
	.menuBox .mb_6:after {
		bottom: -40px;
		height: 40px;
	}

	.menuBox .mb_1:hover:after,
	.menuBox .mb_2:hover:after,
	.menuBox .mb_3:hover:after,
	.menuBox .mb_4:hover:after,
	.menuBox .mb_5:hover:after,
	.menuBox .mb_6:hover:after {
		animation: bottom768Anim 1.5s linear .75s infinite;
	}

	.menuBox .mb_1 a:after,
	.menuBox .mb_2 a:after,
	.menuBox .mb_3 a:after,
	.menuBox .mb_4 a:after,
	.menuBox .mb_5 a:after,
	.menuBox .mb_6 a:after {
		top: -40px;
		height: 40px;
	}

	.menuBox .mb_1 a:hover:after,
	.menuBox .mb_2 a:hover:after,
	.menuBox .mb_3 a:hover:after,
	.menuBox .mb_4 a:hover:after,
	.menuBox .mb_5 a:hover:after,
	.menuBox .mb_6 a:hover:after {
		animation: top768Anim 1.5s linear .75s infinite;
	}

	@keyframes left768Anim {
		0% {
			left: -140px;
		}

		100% {
			left: 140px;
		}
	}

	@keyframes right768Anim {
		0% {
			right: -140px;
		}

		100% {
			right: 140px;
		}
	}

	@keyframes top768Anim {
		0% {
			top: -40px;
		}

		100% {
			top: 40px;
		}
	}

	@keyframes bottom768Anim {
		0% {
			bottom: -40px;
		}

		100% {
			bottom: 40px;
		}
	}

	.menuBox .mb_2 {
		top: 25px;
		line-height: 18px;
	}

	.menuBox .mb_3 {
		top: 45px;
	}

	.menuBox .mb_4 {
		top: 65px;
	}

	.menuBox .mb_5 {
		top: 85px;
	}

	.menuBox .mb_6 {
		top: 105px;
	}

	.menuBox .mb_1,
	.menuBox .mb_2,
	.menuBox .mb_3,
	.menuBox .mb_4,
	.menuBox .mb_5,
	.menuBox .mb_6 {
		position: relative;
	}

	.menuBox .mb_2 span {
		display: none;
	}

	.menuBox .mb_2 br {
		display: block;
	}

	#hamb_btn-check:checked~.hamb_btn .menuBox .mb_1,
	#hamb_btn-check:checked~.hamb_btn .menuBox .mb_2,
	#hamb_btn-check:checked~.hamb_btn .menuBox .mb_3,
	#hamb_btn-check:checked~.hamb_btn .menuBox .mb_4,
	#hamb_btn-check:checked~.hamb_btn .menuBox .mb_5,
	#hamb_btn-check:checked~.hamb_btn .menuBox .mb_6 {
		animation: mb_allDelta 0.3s 1.2s ease-in-out forwards;
	}

	@keyframes mb_allDelta {
		from {}

		to {
			width: 140px;
		}
	}

	.menuBox .deltaLeft {
		border-bottom: max(3vw, 20px) solid transparent;
		border-left: max(3vw, 20px) solid rgba(255, 0, 0, 1);
	}

	.menuBox .deltaRight {
		border-top: max(3vw, 20px) solid transparent;
		border-right: max(3vw, 20px) solid rgba(255, 0, 0, 1);
	}
}

@media screen and (max-width: 426px) {
	.hmbFadeIn-main {
		top: 0px;
		height: calc(100vh);
	}

	section .seBody .content h3 {
		left: 15px;
	}

	section .title .right {
		display: none;
	}

	section h2 {
		width: 100%;
	}
}