@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

@font-face {
	font-family: 'hinafont';
	src: url(./Hina_Mincho/HinaMincho-Regular.ttf) format('truetype')
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-size: clamp(16px, 1.302vw, 20px);
	font-weight: normal;
	color: gray;
	font-family: serif, 'Noto Serif JP', sans-serif;
}

.wrap_original {
	overflow: hidden;
}

html {
	scroll-behavior: smooth;
	height: -webkit-fill-available;
}

body {
	min-height: -webkit-fill-available;
	background-image: url(./img/background-sizeover.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

section {
	width: 100%;
	background-color: #fff;
}

main {
	width: 100%;
	max-width: 1536px;
	margin: 0 auto;
	overflow: hidden;
}

*::-webkit-scrollbar {
	background: rgb(221, 209, 209);
	width: 20px;
}

*::-webkit-scrollbar-thumb {
	background: rgb(84, 35, 35);
	border-radius: 50px;
	height: 30px;
}

#arrowSW {
	display: none;
}

#page_top {
	position: fixed;
	right: 1vw;
	bottom: 2vw;
	z-index: 10000;
	width: 6vw;
	height: 6vw;
	min-width: 70px;
	min-height: 70px;
	background-image: url(./img/top.png);
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.7;
	transition: 0.4s;
}

#page_top:hover {
	opacity: 1;
}

#page_top a {
	display: block;
	width: 100%;
	height: 100%;
}

.topBtn_on {
	transform: translateX(0rem);
	visibility: visible;
	pointer-events: unset;
}

.topBtn_off {
	transform: translateX(11rem);
	visibility: hidden;
	pointer-events: none;
}

header {
	position: fixed;
	z-index: 10000;
	width: 100%;
	height: max(12vh, 50px);
	background-color: #EBE3D8;
	display: flex;
	justify-content: center;
}

header nav {
	width: 100%;
	max-width: 1700px;
	display: flex;
	align-items: center;
}

header h1 {
	width: 15%;
	text-align: center;
}

header h1,
header h1 span {
	font-size: clamp(20px, 2.604vw, 40px);
}

header h1 span {
	color: red;
}

.header_1_menu {
	width: 85%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_1_menu li {
	width: 100%;
	text-align: center;
}

.header_1_menu li:nth-of-type(3),
.header_1_menu li:nth-of-type(4) {
	padding: 0 5px;
}

.header_1_menu li p::before {
	top: 0;
	left: 0;
	display: inline;
	position: absolute;
	z-index: -1;
	color: rgba(128, 128, 128, 0.4);
	transition: all .2s;
}

#se2 .text_2 a::before {
	content: 'more';
	top: 0;
	right: 0;
	display: inline;
	position: absolute;
	z-index: -1;
	color: rgba(128, 128, 128, 0.4);
	transition: all .5s;
}

#se2 .text_2 a:hover:before {
	top: 3px;
	right: -3px;
	font-weight: bold;
}

.header_1_menu li:hover p {
	top: -2px;
	left: -2px;
	color: red;
	font-weight: bold;
}

.header_1_menu li:hover p::before,
#se2 .text_2 a:hover:before {
	top: 5px;
	left: 3px;
	font-weight: bold;
}

.header_1_menu li:nth-of-type(1) p::before {
	content: 'TOP';
}

.header_1_menu li:nth-of-type(2) p::before {
	content: 'TOPICS';
}

.header_1_menu li:nth-of-type(3) p::before {
	content: '北関堂について';
}

.header_1_menu li:nth-of-type(4) p::before {
	content: '店舗アクセス';
}

.header_1_menu li:nth-of-type(5) p::before {
	content: '商品紹介';
}

.header_1_menu li:nth-of-type(6) p::before {
	content: '採用情報';
}

.header_1_menu p {
	position: relative;
	top: 0;
	left: 0;
	transition: all .2s;
	display: inline-block;
	font-size: clamp(16px, 1.563vw, 32px);
	color: rgb(84, 35, 35);
	white-space: nowrap;
	font-weight: bold;
}

.se1_mainVisual {
	height: clamp(670px, 100vh, 864px);
	padding-top: max(12vh, 50px);
	background-image: url(./img/hero-pc.png);
	background-size: cover;
	background-position: center center;
}

#se1 .text_1 {
	padding: 30px 20px;
	margin-left: min(365px, 23.763vw);
	margin-top: max(4vh, 50px);
	background-color: rgba(255, 255, 255, 0.7);
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	letter-spacing: 10px;
	line-height: 30px;
}

#se1 .text_1 p {
	font-size: clamp(20px, 1.563vw, 32px);
	font-weight: bold;
	color: rgb(210, 107, 107);
	white-space: nowrap;
}

.se2_topics {
	height: fit-content;
	padding-top: max(160px, 14vh);
	padding-bottom: max(160px, 14vh);
}

#se2 h2,
#se2 .text_1 p {
	margin-bottom: 1em;
}

#se2 h2 {
	text-align: center;
	font-size: clamp(20px, 2.604vw, 40px);
}

#se2 .text_1 {
	width: fit-content;
	margin: 0 auto;
}

#se2 .text_1 span {
	display: inline-block;
	padding-right: 2em;
}

#se2 .text_2,
#se2 .text_2 a::before {
	text-align: right;
	padding-right: 8vw;
}

#se2 .text_2 span {
	padding-right: 1em;
}

#se2 .text_2 a {
	font-size: clamp(20px, 1.953vw, 30px);
	border-bottom: 2px solid gray;
	transition: all .5s;
}

#se2 .text_2 a:hover {
	color: red;
	border-bottom: 2px solid red;
}

#se3 .title {
	height: fit-content;
	padding: 5px 0 5px 2em;
	font-size: clamp(20px, 2.604vw, 40px);
	background-color: #EBE3D8;
}

#se3 .content_1 {
	padding: 0 8vw;
}

#se3 .content_1 ul {
	display: flex;
	justify-content: space-between;
}

#se3 .content_1 ul li {
	margin: 3em 0;
}

#se3 .content_1 ul li:first-child {
	width: 70%;
}

#se3 .content_1 ul li:last-child {
	width: 30%;
}

#se3 .content_1 p {
	margin-bottom: 1em;
}

#se3 .content_1 span {
	display: inline-block;
}

.se4_subVisual {
	height: fit-content;
	padding-bottom: 15em;
}

#se4 .content_1-spring,
#se4 .content_1-summer,
#se4 .content_1-autumn,
#se4 .content_1-winter {
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 1536px;
	padding-top: 15em;
}

#se4 .content_1-spring .imgBox_1 img,
#se4 .content_1-summer .imgBox_1 img,
#se4 .content_1-autumn .imgBox_1 img,
#se4 .content_1-winter .imgBox_1 img {
	width: 100%;
}

#se4 .content_1-spring .imgBox_1 img:last-child,
#se4 .content_1-summer .imgBox_1 img:last-child,
#se4 .content_1-autumn .imgBox_1 img:last-child,
#se4 .content_1-winter .imgBox_1 img:last-child {
	display: none;
}

#se4 .content_1-spring .text_1,
#se4 .content_1-autumn .text_1 {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 15em;
	padding-left: min(260px, 9.5vw);
	height: 100%;
	display: flex;
	justify-content: center;
}

#se4 .content_1-summer .text_1,
#se4 .content_1-winter .text_1 {
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 15em;
	padding-right: min(260px, 9.5vw);
	height: 100%;
	display: flex;
	justify-content: center;
}

#se4 .content_1-spring .text_1 .img_1,
#se4 .content_1-summer .text_1 .img_1,
#se4 .content_1-autumn .text_1 .img_1,
#se4 .content_1-winter .text_1 .img_1 {
	position: absolute;
	margin-top: 15em;
	top: max(-100px, -5vw);
	z-index: 1;
}

#se4 .content_1-spring .text_1 .img_1:before {
	content: '春';
}

#se4 .content_1-summer .text_1 .img_1:before {
	content: '夏';
	color: #fff;
}

#se4 .content_1-autumn .text_1 .img_1:before {
	content: '秋';
	color: #fff;
}

#se4 .content_1-winter .text_1 .img_1:before {
	content: '冬';
	color: #fff;
}

#se4 .content_1-spring .text_1 .img_1:before,
#se4 .content_1-summer .text_1 .img_1:before,
#se4 .content_1-autumn .text_1 .img_1:before,
#se4 .content_1-winter .text_1 .img_1:before {
	position: absolute;
	width: clamp(80px, 12vw, 200px);
	height: 100%;
	font-size: clamp(30px, 4.883vw, 90px);
	display: flex;
	justify-content: center;
	align-items: center;
}

#se4 .content_1-spring .text_1 .img_1 img,
#se4 .content_1-summer .text_1 .img_1 img,
#se4 .content_1-autumn .text_1 .img_1 img,
#se4 .content_1-winter .text_1 .img_1 img {
	width: clamp(80px, 12vw, 200px);
}

#se4 .content_1-spring .text_1 div,
#se4 .content_1-summer .text_1 div,
#se4 .content_1-autumn .text_1 div,
#se4 .content_1-winter .text_1 div {
	position: relative;
	top: 0;
	left: 0;
	width: min(125px, 7vw);
	height: 100%;
	padding: min(125px, 9vw) 15px 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.7);
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	letter-spacing: clamp(0px, 0.1vw, 15px);
	line-height: min(40px, 2.5vw);
}

#se4 .content_1-spring .text_1 div p,
#se4 .content_1-summer .text_1 div p,
#se4 .content_1-autumn .text_1 div p,
#se4 .content_1-winter .text_1 div p {
	height: 100%;
	font-size: clamp(16px, 1.953vw, 35px);
	text-shadow: 2px 2px 2px #fff;
}

#se4 .content_1-spring .imgBox_2,
#se4 .content_1-autumn .imgBox_2 {
	position: absolute;
	bottom: clamp(20px, 3vw, 40px);
	right: clamp(60px, 8vw, 80px);
}

#se4 .content_1-summer .imgBox_2,
#se4 .content_1-winter .imgBox_2 {
	position: absolute;
	bottom: clamp(20px, 3vw, 40px);
	left: clamp(60px, 8vw, 80px);
}

#se4 .content_1-spring .imgBox_2 img,
#se4 .content_1-summer .imgBox_2 img,
#se4 .content_1-autumn .imgBox_2 img,
#se4 .content_1-winter .imgBox_2 img {
	width: min(15vw, 200px);
}

#se4 .content_1-spring .imgBox_2 img:first-child,
#se4 .content_1-autumn .imgBox_2 img:first-child {
	position: absolute;
	top: min(140px, 11vw);
	right: min(130px, 10vw);
}

#se4 .content_1-summer .imgBox_2 img:last-child,
#se4 .content_1-winter .imgBox_2 img:last-child {
	position: absolute;
	top: min(140px, 11vw);
	left: min(130px, 10vw);
}

.se5_access {
	height: fit-content;
	padding-bottom: max(160px, 14vh);
}

#se5 .title {
	height: fit-content;
	padding: 5px 0 5px 2em;
	font-size: clamp(20px, 2.604vw, 40px);
	background-color: #EBE3D8;
}

#se5 .content_1 {
	padding: 0 8vw;
}

#se5 .content_1 ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#se5 .content_1 ul li:first-child {
	width: 50%;
}

#se5 .content_1 ul li:last-child {
	width: 50%;
}

#se5 .content_1 ul li div {
	display: flex;
	padding-bottom: 1em;
	padding-left: 1em;
}

#se5 .content_1 ul li div p:first-child {
	padding-right: 2em;
	text-align: end;
	white-space: nowrap;
}

#se5 .content_1 span {
	display: inline-block;
}

#se5 .map {
	width: 100%;
	height: 450px;
	padding: 2em 0;
}

footer {
	width: 100%;
	height: fit-content;
	padding: 4em 0;
	background-color: #412F17;
	text-align: center;
}

footer p,
footer a {
	color: #fff;
}

footer .img_1 {
	padding: 1em 0;
}

footer img {
	height: 3em;
}

footer small {
	color: rgb(208, 115, 130);
}

.blr_set {
	filter: blur(10px);
	transition: all .5s ease;
}

.blr_set2 {
	filter: blur(5px) grayscale(100%);
	transition: all .5s;
}

.blr_reset {
	filter: blur(0px);
}

#hamb_btn-check,
.hmb_swOn {
	display: none;
}

@media screen and (max-width: 767px) {

	.hmb_swOn {
		display: block;
	}

	#hamb_btn-check:checked~header {
		height: 100%;
		max-height: 100%;
		padding: 12vh 5vw 10vh;
		background-color: rgba(255, 255, 255, 1);
		overflow: hidden;
	}

	#hamb_btn-check:checked~header nav {
		width: 100%;
		justify-content: center;
		overflow: hidden scroll;
		-webkit-overflow-scrolling: touch;
	}

	#hamb_btn-check:checked~header h1 {
		display: none;
	}

	.hamburgerMenu {
		position: fixed;
		top: 0vw;
		z-index: 10001;
		right: 0vw;
		width: 100%;
	}

	.hamb_btn {
		position: fixed;
		top: 0;
		right: 0;
		display: flex;
		width: min(20vw, 50px);
		height: clamp(50px, 20vw, 7vh);
		justify-content: center;
		align-items: center;
		z-index: 10001;
		border: 1px solid rgb(84, 35, 35);
		background-color: rgba(221, 209, 209, 0.7);
	}

	.hamb_btn span,
	.hamb_btn span:before,
	.hamb_btn span:after {
		content: '';
		position: absolute;
		display: block;
		height: 0.2vw;
		width: 8vw;
		max-width: 30px;
		background-color: rgb(84, 35, 35);
		transition: all 0.3s;
	}

	.hamb_btn span:before {
		bottom: min(10px, 2vw);
	}

	.hamb_btn span:after {
		top: min(10px, 2vw);
	}

	#hamb_btn-check:checked~.hamb_btn span {
		background-color: rgba(255, 0, 0, 0);
	}

	#hamb_btn-check:checked~.hamb_btn span::before {
		transform: rotate(45deg);
		bottom: 0;
	}

	#hamb_btn-check:checked~.hamb_btn span::after {
		transform: rotate(-45deg);
		top: 0;
	}

	header {
		height: clamp(50px, 20vw, 7vh);
		display: block;
		background-color: rgba(255, 255, 255, 0.7);
		transition: all 0.3s;
		border-bottom: 1px solid rgb(84, 35, 35);
	}

	header nav {
		height: 100%;
		padding-left: 5vw;
	}

	header nav .hmb_swOn {
		border: none;
	}

	header h1,
	header h1 span {
		font-size: clamp(20px, 2.604vw, 40px);
		display: flex;
		align-items: center;
	}

	#hamb_btn-check:checked~header a {
		pointer-events: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#hamb_btn-check:checked~header .header_1_menu {
		display: flex;
	}

	#hamb_btn-check:checked~header .header_1_menu::-webkit-scrollbar-track {
		background: #ffe6ea;
	}

	.header_1_menu {
		display: none;
		height: 100%;
		flex-direction: column;
		padding: 0 10vw;
		line-height: 4em;
	}

	.header_1_menu li {
		border-bottom: 1px solid rgb(84, 35, 35);
	}

	.header_1_menu li:last-of-type p {
		border: none;
	}

	.header_1_menu li:last-child img:nth-of-type(2) {
		width: 3em;
		height: 2em;
		display: block;
		transform: translateY(50%);
		padding-left: 1em;
	}

	.header_1_menu a {
		pointer-events: none;
	}

	.header_1_menu p {
		font-size: min(20px, 6.25vw);
	}

	.header_1_menu li:last-child img {
		width: 100%;
		height: 3em;
		margin: 0.5vh 0;
		object-fit: scale-down;
	}

	#hamb_btn-check:checked~header .arrowHidden {
		display: block;
	}

	.arrowHidden {
		display: none;
		position: absolute;
		bottom: 20vw;
		right: 15vw;
		width: 30px;
		height: 100px;
		overflow: hidden;
	}

	.arrow {
		position: relative;
		width: 2px;
		height: 100px;
		margin: 0 auto;
		background-color: rgb(221, 209, 209);
		animation: bar 3s ease infinite;
	}

	@keyframes bar {
		0% {
			top: -100px;
		}

		50% {
			top: 0;
		}

		100% {
			top: 120px;
		}
	}

	.arrowHead {
		position: relative;
		top: 89px;
		right: 4px;
		width: 10px;
		height: 10px;
		border-right: 2px solid rgb(221, 209, 209);
		transform: rotate(45deg);
	}

	.se1_mainVisual {
		background-image: url(./img/hero-sp.png);
		background-size: cover;
		background-position: center center;
		padding-top: clamp(50px, 20vw, 7vh);
	}

	#se1 .text_1 {
		margin-top: max(5vh, 25px);
		margin-left: 17vw;
		letter-spacing: 7px;
		line-height: 30px;
	}

	.se1_mainVisual,
	.se2_topics,
	.se3_overview {
		margin: 0 auto;
		max-width: 500px;
	}

	#se2 .text_1 {
		width: 92%;
		padding-left: 1em;
	}

	#se2 .text_1 span {
		display: block;
	}

	#se3 .content_1 {
		padding: 10vh 4vw;
		min-height: 370px;
	}

	#se3 .content_1 ul {
		position: relative;
		flex-direction: column;
		justify-content: space-between;
	}

	#se3 .content_1 ul li {
		margin: 0;
	}

	#se3 .content_1 ul li:first-child {
		position: relative;
		z-index: 1;
		width: 90%;
		background-color: rgba(255, 255, 255, 0.7);
		line-height: max(25px, 7vw);
		padding: 2em 0.5em;
	}

	#se3 .content_1 span {
		white-space: unset;
	}

	#se3 .content_1 ul li:last-child {
		position: absolute;
		bottom: max(-15vh, -60px);
		right: 0;
		width: 50%;
	}

	#se3 .content_1 ul li:last-child img {
		width: 100%;
		height: 320px;
		object-fit: scale-down;
	}

	.se4_subVisual {
		max-width: 500px;
		margin: 0 auto;
		padding-bottom: 120px;
	}

	#se4 .content_1-spring,
	#se4 .content_1-summer,
	#se4 .content_1-autumn,
	#se4 .content_1-winter {
		padding-top: 0;
	}

	#se4 .content_1-spring,
	#se4 .content_1-summer,
	#se4 .content_1-autumn {
		margin-bottom: 120px;
	}

	#se4 .content_1-spring .imgBox_2 img,
	#se4 .content_1-summer .imgBox_2 img,
	#se4 .content_1-autumn .imgBox_2 img,
	#se4 .content_1-winter .imgBox_2 img {
		width: min(30vw, 120px);
	}

	#se4 .content_1-spring .imgBox_1 img:first-child,
	#se4 .content_1-summer .imgBox_1 img:first-child,
	#se4 .content_1-autumn .imgBox_1 img:first-child,
	#se4 .content_1-winter .imgBox_1 img:first-child {
		display: none;
	}

	#se4 .content_1-spring .imgBox_2 img:first-child,
	#se4 .content_1-autumn .imgBox_2 img:first-child {
		top: min(80px, 21.875vw);
		right: min(80px, 21.875vw);
	}

	#se4 .content_1-spring .imgBox_1 img:last-child,
	#se4 .content_1-summer .imgBox_1 img:last-child,
	#se4 .content_1-autumn .imgBox_1 img:last-child,
	#se4 .content_1-winter .imgBox_1 img:last-child {
		display: block;
		background-size: cover;
		background-repeat: no-repeat;
	}

	#se4 .content_1-summer .imgBox_2 img:last-child,
	#se4 .content_1-winter .imgBox_2 img:last-child {
		top: min(80px, 21.875vw);
		left: min(80px, 21.875vw);
	}

	#se4 .content_1-spring .imgBox_2,
	#se4 .content_1-autumn .imgBox_2 {
		right: 8vw;
	}

	#se4 .content_1-summer .imgBox_2,
	#se4 .content_1-winter .imgBox_2 {
		left: 8vw;
	}

	#se4 .content_1-spring .text_1,
	#se4 .content_1-summer .text_1,
	#se4 .content_1-autumn .text_1,
	#se4 .content_1-winter .text_1 {
		height: 100%;
		padding-top: 0;
	}

	#se4 .content_1-spring .text_1 div,
	#se4 .content_1-summer .text_1 div,
	#se4 .content_1-autumn .text_1 div,
	#se4 .content_1-winter .text_1 div {
		width: max(55px, 8vw);
		padding: min(70px, 17vw) 5px 30px;
		line-height: min(25px, 6.5vw);
	}

	#se4 .content_1-spring .text_1 .img_1,
	#se4 .content_1-summer .text_1 .img_1,
	#se4 .content_1-autumn .text_1 .img_1,
	#se4 .content_1-winter .text_1 .img_1 {
		top: max(-47px, -13vw);
		margin-top: 0;
	}

	.se5_access {
		max-width: 500px;
		margin: 0 auto;
	}

	#se5 .content_1 {
		padding: 3em 8vw 0;
	}

	#se5 .content_1 ul {
		display: block;
	}

	#se5 .content_1 ul li:first-child,
	#se5 .content_1 ul li:last-child {
		width: 100%;
	}

	#se5 .content_1 ul li:last-child {
		width: 100%;
	}

	#se5 .content_1 ul li div {
		padding-left: 0;
	}

	#se5 .map {
		height: 300px;
		padding: 0;
		border: 1px solid #000;
	}
}