@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

@font-face {
	font-family: 'hinafont';
	src: url(./Hina_Mincho/HinaMincho-Regular.ttf) format('truetype')
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-size: max(16px, 1.3vw);
	font-weight: normal;
	font-family: 'hinafont', serif, 'Noto Serif JP', sans-serif;
}

html {
	scroll-behavior: smooth;
}

section {
	width: 100%;
}

.designlineVertical_top {
	position: absolute;
	z-index: 10001;
	width: 0.2vw;
}

.lineVer_1 {
	top: 5vh;
	left: 3vw;
	height: 65vw;
	background-color: #998947;
}

.lineVer_2 {
	top: 5vh;
	right: 3vw;
	height: 65vw;
	background-color: #998947;
}

.lineVer_1::before,
.lineVer_2::before {
	content: '';
	position: absolute;
	top: -0.5vw;
	left: calc(-325%);
	width: 1.5vw;
	height: 1.5vw;
	border-radius: 50%;
	background-color: #998947;
}

.lineVer_1::after,
.lineVer_2::after {
	content: '';
	position: absolute;
	top: 64vw;
	left: calc(-325%);
	width: 1.5vw;
	height: 1.5vw;
	border-radius: 50%;
	background-color: #998947;
}

.designlineLength {
	position: relative;
	z-index: 10001;
	height: 0.2vw;
	bottom: 0;
	left: 2.5vw;
	width: 95vw;
	background-color: #fff;
}

.designlineLength::before {
	content: '';
	position: absolute;
	left: -0.5vw;
	bottom: calc(-325%);
	width: 1.5vw;
	height: 1.5vw;
	border-radius: 50%;
	background-color: #fff;
}

.designlineLength::after {
	content: '';
	position: absolute;
	bottom: calc(-325%);
	right: -0.5vw;
	width: 1.5vw;
	height: 1.5vw;
	border-radius: 50%;
	background-color: #fff;
}

.designlineVertical_under {
	position: relative;
	z-index: 10001;
	width: 0.2vw;
	bottom: 29vw;
}

.lineLen_1 {
	left: 5vw;
	height: 34vw;
	background-color: #fff;
}

.lineLen_2 {
	bottom: 63vw;
	right: -95vw;
	height: 34vw;
	background-color: #fff;
}

body {
	background-image: url(./img/japanese-paper_00147.jpg);
	background-size: cover;
	background-attachment: fixed;
}

main {
	backdrop-filter: blur(2px);
}

header {
	position: fixed;
	z-index: 10000;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 1vh max(38.4px, 5vw);
	background-color: #EBE3D8;
}

.header_1_logo {
	width: 40%;
}

.header_1_logo img {
	width: max-content;
	height: 8vh;
}

.header_2_menu {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_2_menu li {
	width: 100%;
	padding: 0.5rem 0.3rem;
	text-align: center;
}

.header_2_menu li:hover p,
.sideMenu .list li:hover a {
	color: #fff;
	background: linear-gradient(30deg, rgba(153, 137, 71, 0.1) 10%, rgba(153, 137, 71, 1) 100%);
}

.header_2_menu li p::before,
.sideMenu .list li a::before {
	content: '';
	position: absolute;
	bottom: -2px;
	left: -3px;
	width: 2px;
	height: 0%;
	background-color: #998947;
	transition: all .3s ease;
}

.header_2_menu li p::after,
.sideMenu .list li a::after {
	content: '';
	position: absolute;
	bottom: -3px;
	left: -3px;
	width: 0%;
	height: 2px;
	background-color: #998947;
	transition: all .3s ease-in-out;
}

.header_2_menu li:hover p::before,
.sideMenu .list li:hover a::before {
	height: 100%;
}

.header_2_menu li:hover p::after,
.sideMenu .list li:hover a::after {
	width: calc(100% + 3px);
}

.header_2_menu li img {
	height: 5vh;
}

.header_2_menu li:nth-of-type(7) {
	display: none;
}

.header_2_menu li:last-child img {
	height: 4vh;
	margin: 0.5vh 0;
}

.header_2_menu li:last-child img:nth-of-type(2) {
	display: none;
}

.header_2_menu a {
	width: fit-content;
}

.header_2_menu p,
.sideMenu .list a,
.sideMenu .list a:visited {
	position: relative;
	font-size: max(16px, 1vw);
	color: #998947;
	white-space: nowrap;
	transition: all .8s;
}

.sideMenu {
	position: sticky;
	width: auto;
	height: fit-content;
	background-color: #fff;
	border: 1px solid #998947;
	white-space: nowrap;
}

.sideMenu .list {
	height: max(60vh, 500px);
	padding: max(1vw, 10px) max(2vw, 20px);
}

.sideMenu .list li {
	width: 100%;
	height: max(6.5vh, 60px);
	margin: 15px 0;
}

.sideMenu .list li:first-child {
	font-size: max(24px, 2.2vw);
	text-align: center;
}

.sideMenu .list li:last-child {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-bottom: 2vh;
}

.sideMenu .list li:last-child img {
	height: inherit;
	padding: 0.7vw 0;
	object-fit: scale-down;
}

.sideMenu .list a {
	display: inline-block;
	width: 100%;
}

.sideMenu .sideImg {
	width: 100%;
	height: 27vh;
	background-image: url(./img/navi-image-pc.png);
	background-size: cover;
	background-position: center center;
	border-top: 1px solid #998947;
}

.se1_mainContents {
	width: 100%;
	height: fit-content;
	padding: 16vh 5vw 5vw;
	display: flex;
}

.se1_mainContents .contentsBox {
	width: 100%;
	height: fit-content;
	margin-left: 2vw;
	overflow: hidden;
}

.se1_mainContents .contentsBox .content {
	display: flex;
	margin-top: 2vw;
	padding: 3vw;
	background-color: #fff;
	border: 1px solid #998947;
}

.se1_mainContents .contentsBox #no1.content {
	margin-top: unset;
}

.se1_mainContents .contentsBox .contentBody {
	width: 60%;
}

.se1_mainContents .contentsBox #no2 .contentBody,
.se1_mainContents .contentsBox #no3 .contentBody,
.se1_mainContents .contentsBox #no4 .contentBody {
	width: 100%;
}

.se1_mainContents .contentsBox .content .contentBody .title h2 {
	font-size: max(22px, 2vw);
}

.se1_mainContents .contentsBox .content .contentBody .title img,
.se1_mainContents .contentsBox #no2 .contentBody .title img,
.se1_mainContents .contentsBox #no3 .contentBody .title img,
.se1_mainContents .contentsBox #no4 .contentBody .title img {
	object-fit: scale-down;
	object-position: top left;
}

.se1_mainContents .contentsBox .content .contentBody .text {
	width: 100%;
	overflow-wrap: break-word;
	padding-right: 1em;
	margin-bottom: 2em;
}

.se1_mainContents .contentsBox #no2 .contentBody .text,
.se1_mainContents .contentsBox #no3 .contentBody .text,
.se1_mainContents .contentsBox #no4 .contentBody .text {
	padding-top: 0.5em;
}


.se1_mainContents .contentsBox #no1 .contentBody .text:last-child {
	margin-top: 1em;
}

.se1_mainContents .contentsBox #no2 .contentBody h3,
.se1_mainContents .contentsBox #no3 .contentBody h3,
.se1_mainContents .contentsBox #no4 .contentBody h3 {
	font-size: max(18px, 1.6vw);
	border-bottom: 1px solid #998947;
}

.se1_mainContents .contentsBox #no2 .contentBody h3:last-child,
.se1_mainContents .contentsBox #no4 .contentBody h3:last-child {
	margin: 1em 0;
	border: unset;
	text-align: center;
}

.se1_mainContents .contentsBox #no2 .contentBody h3:last-child a,
.se1_mainContents .contentsBox #no4 .contentBody h3:last-child a {
	color: #000;
}

.se1_mainContents .contentsBox .content .contentBody .img_1 {
	width: 100%;
	display: flex;
	justify-content: end;
}

.se1_mainContents .contentsBox .content .contentBody .img_1 img {
	width: 50%;
	object-fit: cover;
	margin: unset;
	padding: 0px 0 0 2.5vw;
}


.se1_mainContents .contentsBox .content .img_2 {
	width: 40%;
	display: flex;
	justify-content: center;
	padding: 2em 0 0;
}

.se1_mainContents .contentsBox .content .img_2 img {
	width: 100%;
	object-fit: scale-down;
	aspect-ratio: 2/1;
}

.se1_mainContents .contentsBox .content_2 .contentBody:nth-of-type(2) .img_1 img {
	width: 100%;
	object-fit: cover;
	margin: unset;
	padding: 1em 0 1em 15.2vw;
}

.se1_mainContents .contentsBox #no3 .contentBody h4 {
	font-size: max(18px, 1.6vw);
}

table {
	margin: 1em 0;
	background-color: #EBE3D8;
	border-collapse: collapse;
	table-layout:fixed;
}

th,
td {
	border: solid 1px #000;
	padding: 15px;
}

td {
	text-overflow:ellipsis;
}

th {
	color: #fff;
	background-color: #998947;
}

td span {
	white-space: nowrap;
}

.tableScroll {
	overflow-x: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.acd-check {
	display: none;
}

.acd-label {
	position: relative;
	display: block;
	width: 100%;
	height: max-content;
	margin-bottom: 1px;
	padding: 10px;
	text-align: center;
	color: #000;
	transition: all .2s;
}

.acd-label:hover {
	color: #fff;
}

.acd-label span:last-of-type {
	position: relative;
	z-index: 1;
}

.acd-label .backColor {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: linear-gradient(30deg, rgba(153, 137, 71, 0.1) 10%, rgba(153, 137, 71, 1) 100%);
	transition: all .2s;
}

.acd-label:hover .backColor {
	opacity: 1;
}

.acd-content {
	height: 0;
	opacity: 0;
	padding: 0 10px;
	transition: .2s;
	visibility: hidden;
}

.acd-check:checked+.acd-label+.acd-content {
	height: auto;
	opacity: 1;
	padding: 10px;
	visibility: visible;
}

.acd-label::before,
.acd-label::after {
	content: '';
	position: relative;
	display: inline-block;
	top: -6px;
	height: 1.5px;
	width: 15%;
	background-color: #998947;
}

.acd-label::before {
	right: 10px;
}

.acd-label::after {
	left: 10px;
}

.backColor {
	display: inline;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #998947;
}

footer {
	width: 100%;
	height: 30vw;
	background-color: #998947;
}

.footerBody {
	width: 100%;
	height: fit-content;
	padding: 6vw 10vw;
}

.footerBody ul {
	height: 15vw;
	display: flex;
	justify-content: space-between;
}

.footerBody ul li:first-child {
	width: 100%;
}

.footerBody ul li:last-child {
	width: 100%;
	display: flex;
}

.footerBody .footerText_2 {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding-right: 1em;
}

.footerBody .map {
	width: 60%;
	height: auto;
	border: 2px solid #998947;
}

.footerBody .footerTitle {
	color: #fff;
	font-size: max(24px, 2.2vw);
}

.footerBody .footerText_1 p {
	color: rgb(0, 0, 0);
	padding-left: 2.4vw;
	overflow-wrap: break-word;
}

.footerBody .footerText_2 p {
	text-align: right;
	margin-top: 1em;
}

.footerBody .footerText_1 span,
.footerBody .footerText_2 span {
	white-space: nowrap;
	letter-spacing: 0.078vw;
}

.copyRight {
	text-align: right;
	margin-bottom: 6vh;
	padding: 1vh 12vw 0 0;
	font-size: max(16px, 1.2vw);
}

#hamb_btn-check {
	display: none;
}

.hmb_swOn {
	display: none;
}

@media screen and (max-width: 767px) {

	.hmb_swOn {
		display: block;
	}

	.hmb_swOff,
	.designlineVertical_top,
	.designlineLength,
	.designlineVertical_under,
	header .header_1_logo,
	.header_2_menu li:nth-of-type(6),
	.header_2_menu li:last-child img:nth-of-type(1),
	.header_1_logo img,
	.header_2_menu img,
	.sideMenu,
	.se1_mainContents .contentsBox .content .img_2 img:first-child {
		display: none;
	}

	.header_2_menu li:last-child img:nth-of-type(2) {
		width: 3em;
		height: 2em;
		display: block;
		transform: translateY(50%);
		padding-left: 1em;
	}

	header {
		height: max(60px, 10vh);
		display: block;
		background-image: url(./img/japanese-paper_00147.jpg);
		object-fit: cover;
		transition: all 0.3s;
		opacity: 0.5;
	}

	header ul::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 12vh;
		left: 3%;
		width: 94%;
		height: 80%;
		background-color: rgba(255, 255, 255, 0.7);
		border: 1px solid #998947;
	}

	#hamb_btn-check:checked~header {
		height: 100%;
		padding: 15vh 5vw 10vh;
		opacity: 1;
	}

	.hamburgerMenu {
		position: fixed;
		top: 0vw;
		z-index: 10001;
		right: 0vw;
		width: 100%;
	}

	.hamb_btn {
		position: fixed;
		top: 0;
		right: 0;
		display: flex;
		width: 13vw;
		height: 7vh;
		max-width: 60px;
		min-height: 40px;
		margin: 10px;
		justify-content: center;
		align-items: center;
		z-index: 10001;
		background-color: rgba(153, 137, 71, 0.7);
	}

	.hamb_btn span,
	.hamb_btn span:before,
	.hamb_btn span:after {
		content: '';
		position: absolute;
		display: block;
		height: 0.3vw;
		width: 8vw;
		max-width: 30px;
		background-color: #EBE3D8;
		transition: all 0.3s;
	}

	.hamb_btn span:before {
		bottom: min(10px, 2vw);
	}

	.hamb_btn span:after {
		top: min(10px, 2vw);
	}

	#hamb_btn-check:checked~.hamb_btn span {
		background-color: rgba(255, 0, 0, 0);
	}

	#hamb_btn-check:checked~.hamb_btn span::before {
		transform: rotate(45deg);
		bottom: 0;
	}

	#hamb_btn-check:checked~.hamb_btn span::after {
		transform: rotate(-45deg);
		top: 0;
	}

	.header_1_logo {
		width: 100%;
		height: fit-content;
		text-align: center;
		padding-bottom: 2em;
	}

	.header_1_logo p {
		display: block;
		font-size: max(32px, 15vw);
	}

	.header_2_menu {
		display: none;
		height: 100%;
		flex-direction: column;
		padding: 0 10vw;
		line-height: 4em;
	}

	.header_2_menu li {
		text-align: start;
	}

	.header_2_menu li:nth-of-type(7) {
		display: block;
	}

	.header_2_menu li:last-child a {
		display: flex;
		flex-direction: row-reverse;
	}

	.header_2_menu a {
		pointer-events: none;
	}

	#hamb_btn-check:checked~header a {
		pointer-events: auto;
	}

	#hamb_btn-check:checked~header .header_2_menu {
		display: flex;
		overflow: auto;
	}

	.header_2_menu p {
		font-size: min(24px, 6.25vw);
	}

	.se1_mainContents {
		padding: 10vh 0 0;
	}

	.se1_mainContents .contentsBox {
		width: 100%;
		margin: 0;
	}

	.se1_mainContents .contentsBox .content {
		display: block;
		padding: 30px;
		border: none;
	}

	.se1_mainContents .contentsBox .content .contentBody {
		width: 100%;
	}

	.se1_mainContents .contentsBox .content .contentBody .title img {
		width: 100%;
		transform: translateY(-13px);
	}

	.se1_mainContents .contentsBox .content .contentBody .title h2 {
		font-size: 24px;
	}

	.se1_mainContents .contentsBox .content .contentBody .img_1 img {
		width: 70%;
		max-width: 220px;
		padding-top: 1em;
	}

	.se1_mainContents .contentsBox .content .img_2 {
		width: 100%;
		display: block;
		padding: 1em 0 0;
	}

	.se1_mainContents .contentsBox .content .img_2 img:last-child {
		display: block;
		width: 100%;
	}

	.se1_mainContents .contentsBox .content .img_2,
	.footerBody,
	.copyRight {
		max-width: 425px;
		margin: 0 auto;
	}

	footer {
		padding: 30px;
		height: fit-content;
	}

	.footerBody {
		padding: 0;
	}

	.footerBody ul {
		height: fit-content;
	}

	.footerBody ul li:last-child {
		display: none;
	}

	.footerBody .footerText_1 {
		padding-left: 1em;
	}

	.footerBody .footerText_1 p,
	.footerBody .footerText_1 span {
		letter-spacing: 2px;
	}

	.copyRight {
		padding: 50px 0;
		text-align: center;
	}
}
